
@{
    ViewBag.Title = "招标详情";
}

<link rel="stylesheet" href="~/css/icheck/minimal/minimal.css" />
<link rel="stylesheet" href="~/css/sweetalert/sweetalert.css" />
<link rel="stylesheet" href="~/css/style.css" />

<div class="left-nav">
    <div class="left-nav-con">
        <h1>招标管理</h1>
        <ul class="left-nav-list">
            <li><a href="/Bidings" class="active"><i class="icon icon-eye1"></i>招标信息</a></li>
            <li><a href="/BidingApplication"><i class="icon icon-hand1"></i>招标申请</a></li>
            <li><a href="/BidingApprove"><i class="icon icon-user1"></i>招标审批</a></li>
            @*<li><a href="winning_bid.html" class="'+ (index==4?" active":"") +'"><i class="icon icon-edit1"></i>中标公告</a></li>
                <li><a href="abandoned_tender.html" class="'+ (index==5?" active":"") +'"><i class="icon icon-fet1"></i>废标</a></li>*@
        </ul>
    </div>
</div>

<div class="main-con">
    <div class="main-wrap">
        <div class="main-top ">
            <span class="js-page-name">招标详情</span>
            <div class="apply-opt">
                <a href="#" onclick="window.history.go(-1)" class="js-cancle-meet" title="返回">
                    <i class="meet-icon icon-del icon-tb">返回</i>
                </a>
            </div>
        </div>
        <div class="wc-container">
            <div class="wc-nav">
            </div>
            <div class="detail-wrap detail-con">
                <div class="block-left">
                    <table class="meet-form">
                        <tbody>
                            <tr class="form-tr form-tr-title-bg">
                                <td class="blue-word form-lable">项目名称：</td>
                                <td>@ViewBag.Name</td>
                            </tr>
                            <tr class="form-tr">
                                <td class="blue-word form-lable">招标内容：</td>
                                <td>@ViewBag.Content</td>
                            </tr>
                            <tr class="form-tr">
                                <td class="blue-word form-lable">项目地点：</td>
                                <td>@ViewBag.Location</td>
                            </tr>
                            <tr class="form-tr">
                                <td class="blue-word form-lable">项目类型：</td>
                                <td>@ViewBag.Type</td>
                            </tr>
                            <tr class="form-tr">
                                <td class="blue-word form-lable">报名时间：</td>
                                <td>@ViewBag.ApplyDate</td>
                            </tr>
                            <tr class="form-tr">
                                <td class="blue-word form-lable">预计开标时间：</td>
                                <td>@ViewBag.OpenDate</td>
                            </tr>
                            <tr class="form-tr">
                                <td class="blue-word form-lable">拟中标单位数量：</td>
                                <td>@ViewBag.BidingNum</td>
                            </tr>
                            <tr class="form-tr">
                                <td class="blue-word form-lable">项目说明：</td>
                                <td>@ViewBag.ProjDescription</td>
                            </tr>
                            <tr class="form-tr">
                                <td class="blue-word form-lable">招标文档：</td>
                                <td>
                                    <i class="meet-icon icon-file"></i>
                                    <a href="#" target="_blank" class="form-border-btn  bttn2">附件预览</a>
                                </td>
                            </tr>

                            <tr class="form-tr detail-user-con tr-border">
                                <td class="form-lable label2">
                                    <span class="lightblue-word">*</span>参与单位：
                                </td>
                                <td>
                                    <div class="detail-user">
                                        <a class="meet-btn medium-btn active">参加<span>@ViewBag.joinNum</span></a>
                                        <a class="meet-btn medium-btn">不参加<span>@ViewBag.noJoinNum</span></a>
                                        <a class="meet-btn medium-btn">未响应<span>@ViewBag.noResponseNum</span></a>
                                    </div>
                                </td>

                            </tr>
                            <tr class="form-tr detail-user-con">
                                <td colspan="2">
                                    <div class="detail-user-list detail-user-list6" style="min-height:215px;overflow: auto;">
                                        <div class="meet-user-span" style="display: block;">
                                            @Html.Raw(ViewBag.JoinCompanys)
                                        </div>
                                        <div class="meet-user-span">
                                            @Html.Raw(ViewBag.NoJoinCompanys)
                                        </div>
                                        <div class="meet-user-span">
                                            @Html.Raw(ViewBag.NoResponseCompanys)
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>
</div>

<script type="text/javascript" src="~/js/jquery-1.11.0.js"></script>
<script type='text/javascript' src='~/js/jquery-ui.min.js'></script>
<script type="text/javascript" src="~/js/sweetalert/sweetalert.min.js"></script>
<script type="text/javascript" src="~/js/validate/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/js/validate/messages_zh.min.js"></script>
<script type="text/javascript" src="~/js/icheck/icheck.min.js"></script>
<script type='text/javascript' src='~/js/js.js'></script>
<script>
    $(function () {
        $.post("/Bidings/GetBidCompanies?bid="+@ViewBag.bid, {}, function (data) {
            console.log(data);
        });
        pages(1, 2, 12, 5)

    })
</script>
