
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>劳务招标管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes " />
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="~/cssMobile/light/light7.min.css">
    <link rel="stylesheet" href="~/cssMobile/phone.css" />
    <style>
        .list-block ul.ate2 .item-title.t2 {
            font-size: 0.8rem;
            font-weight: 600;
        }
        .download {
            padding: 5% 0%;
        }
        .col02:nth-child(1) {
        padding-right:15px;
        }
        .meetp-deal-list .acte.ate2.ate3 .item-text span {
            margin-right: 0;
            text-overflow: ellipsis;
            display: -webkit-box;
            overflow: hidden;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
      
        .bar.meetp-nav {
            height:auto;
        }
        .bar-nav ~ .content {
            top: 2.2rem;
        }
        .meetp-buttons-tab {
            top: 2.2rem;
        }
    .lw-zb li{
        height:auto;
        margin-bottom:0; 
    }
    .download {
        padding: 5px 0% 5px;
    }
        .sjdlb dl dt {
            width: auto;
        }
    </style>
</head>
<body>
    <div class="page-group">
        <div class="page page-current">
            <header class="bar bar-nav meetp-nav">
                <!--<div class="meetp-header">
                    <a href="#" onclick="logindex()"><img src="~/imgMobile/logo.png" /></a><span class="span1">@ViewBag.UserName</span>
                    <span class="span2">
                        <a href="#" onclick="logout()">
                            <img src="~/imgMobile/loginout-icon.png" alt="">
                        </a>
                    </span>
                </div>-->
                <div class="meetp-bar">
                    <a class="button button-link button-nav pull-left back" onclick="winHistory()" href="#">
                        <span class="icon icon-left"></span>
                    </a>
                    <h1 class="title">定标审批-定标审批详情</h1>
                </div>
            </header>
            <div class="content native-scroll" style="padding-bottom: 3rem;">
                <div class="buttons-tab meetp-buttons-tab">
                    <a href="#tab1" class="tab-link active button">基本信息</a>
                    <a href="#tab2" class="tab-link button">附件</a>
                    <a href="#tab3" class="tab-link button">参标单位</a>
                    <a href="#tab4" class="tab-link button">拟选中标单位</a>
                    <a href="#tab5" class="tab-link button">审核意见</a>
                </div>
                <div class="content-block">
                    <div class="tabs">
                        <div id="tab1" class="tab active">
                            <div class="meetp-content-block">
                                <p></p>
                            </div>
                            <div class="list-block media-list meetp-list-block meetp-deal-list meetp2 sjdlb"
                                 style="padding:0 0.25rem">
                                <dl>
                                    <dt>项目简述：</dt>
                                    <dd>
                                       @Html.Raw(ViewBag.Abstract)
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>招标内容介绍：</dt>
                                    <dd>
                                       @Html.Raw(ViewBag.ProDescription)
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>定标文件详细说明：</dt>
                                    <dd>
                                        @Html.Raw(ViewBag.FileExplain)
                                    </dd>
                                </dl>

                            </div>

                        </div>
                        <div id="tab2" class="tab">
                            <div class="list-block cards-list meetp-user-list">
                                <ul class="lw-zb" id="appendli">

                                </ul>
                            </div>
                        </div>
                        <div id="tab3" class="tab">
                            <div class="list-block media-list meetp-list-block meetp-deal-list meetp2">
                                <ul class="acte ate2">
                                   @Html.Raw(ViewBag.JoinCompany)
                                </ul>
                            </div>
                        </div>
                        <div id="tab4" class="tab">
                            <div class="list-block media-list meetp-list-block meetp-deal-list meetp2">
                                <ul class="acte ate2 ate3">
                                    @Html.Raw(ViewBag.WinCompany)
                                </ul>
                            </div>
                        </div>
                        <div id="tab5" class="tab">
                            <div class="content-block">
                                <div class="meetp-advice-content meetp-advice-red">
                                    <div class="meetp-advice-title">
                                        <p>
                                            <span style="color: #008cd6">各部门反馈意见：</span><i class="icon feed-icon icon-bohui"></i>驳回理由
                                        </p>
                                    </div>
                                    <ul class="meetp-feedback-list meetp-feedback-red"></ul>
                                </div>
                                <div class="meetp-advice-content meetp-advice-green">
                                    <div class="meetp-advice-title">
                                        <p>
                                            <span style="color: #008cd6">各部门反馈意见：</span><i class="icon feed-icon icon-bhreason"></i>共<span class="js-feed-count"></span>条回复信息
                                        </p>
                                    </div>
                                    <ul class="meetp-feedback-list meetp-feedback-green"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row btn-row">
                    <div class="buttons-row col-80 meetp-buttons-row" id="actionbtn">
                        <a href="#" onclick="greenbtn()" class="button active">同意</a>
                        <a href="#" onclick="redbtn()" class="button active">驳回</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type='text/javascript' src='~/jsMobile/jquery-1.11.0.js' charset='utf-8'></script>
    <script type='text/javascript' src='~/jsMobile/light/light7.min.js' charset='utf-8'></script>
    <script type="text/javascript" src="~/jsMobile/js.js"></script>
    <script>
        $.get("/Common/GetProcessStatus", { oid: @ViewBag.pid, apid: 4, uid: @ViewBag.UserId}, function (data) {
            if (data == "0")
                $("#actionbtn").hide();
        });
        $(function () {

            $(document).on('click', '.meetp-user-list .card .card-header', function () {
                $(this).siblings(".card-content").toggleClass("active");
                $(this).find(".icon").toggleClass("icon-right")
            });
        })
        function greenbtn(){
            location.href = "/MobileMakeBidFile/AuditAction?pid=@ViewBag.pid&type=1";

        }
        function redbtn(){
            location.href = "/MobileMakeBidFile/AuditAction?pid=@ViewBag.pid&type=2";
        }

        $.get("/Projects/GetFiles?pid=@ViewBag.pid&ftype=4", function (data) {
            var obj = JSON.parse(data);
            
            for (var i = 0; i < obj.length; i++) {
                var li = document.createElement('li');
                var yulan = "";
                if (obj[i].FileName.indexOf('.DOC') != -1 || obj[i].FileName.indexOf('.doc') != -1 || obj[i].FileName.indexOf('.pdf') != -1)
                    yulan = '';/*'<a href="/pdfViewer.html?file=' + obj[i].FilePath.replace('../projectFiles\\', 'http://cr16gd.saibo.net.cn/projectFiles/') + '" style = "color:#008cd6;margin-left: 5px;" target="_blank">预览</a>&nbsp;&nbsp;';*/
                li.innerHTML = '<li>' +
                                    '<div class="download">' +
                                        '<div class="meet-icon icon-file"></div>' +
                                        '<div class="cc">'+
                    '<div class="dowl">' + obj[i].FileName + yulan+'<a href="" id="file'+i+'"  style = "color:#008cd6;margin-left: 5px;" title="'+obj[i].FilePath+'" target="_blank">下载</a></div>' 
                                        '</div>' +
                                    '</div>' +
                                 '</li>';
                                document.getElementById("appendli").appendChild(li)        
                                $("#file"+i+"").click(function(){  
                                    window.open(""+$(this).attr('title')+"");  
                                });
                            }
            
            
        });
            

        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg); //获取url中"?"符后的字符串并正则匹配
            var context = "";
            if (r != null)
                context = r[2];
            reg = null;
            r = null;
            return context == null || context == "" || context == "undefined" ? "" : context;
        }

        $(function () {
            var status = getQueryString('status');
            if (status == "2" || status == "3") {
                $(".row.btn-row").hide();
            }

            $.get("/Common/GetApproveProcessingInfo", { oid:@ViewBag.pid, apid:4}, function (data) {
                var obj = JSON.parse(data);
                var cuid=@ViewBag.UserId;
           
                if (obj.length == 0)
                    return;
                var pdepart = obj[0].pname;
                var dechtm = "";
                var passhtm = "";
                var htm = '<h4 class="cp01"><span></span>' + pdepart + '</h4><ul>';//<li><span class="yj06">' + obj[0].name + '</span> <span class="yj02">' + obj[0].username + '</span> <span class="yj03">' + obj[0].dd +'</span> <span class="yj04">提交申请</span></li >';
                var hstyle = 'cp01'; //cp02
                var ulstyle = 'uc01'; //uc02
                for (var i = 0; i < obj.length; i++) {
                    var o = obj[i];
                    if(o.uid==cuid){
                        $("#feedback-area").val(o.comment);
                    }
                    if(i==0){
                        htm+='<li class="li-blue2"><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span> <span class="yj03">' + o.dd + '</span> <span class="yj04">提交申请</span></div></li >'
                        continue;
                    }
                    if (o.pname == pdepart) {
                        if (o.approved == 2) {
                            if (o.comment != "") {
                                passhtm += '<li>'+
                                        '<label class="item-content">'+
                                            '<div class="item-inner">'+
                                                '<div class="item-title-row">'+
                                                    '<div class="item-title">'+ o.name + ' ' + o.username + '<span class="gray-word">' + o.dd + '</span>'+
                                                    '</div>'+
                                                '</div>'+
                                                '<div class="item-text"> '+ o.comment + '</div>'+
                                            '</div>'+
                                        '</label>'+
                                    '</li>';
                            }
                            htm += '<li class="li-blue2"><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span> <span class="yj03">' + o.dd + '</span> <span class="yj04">同意</span></div></li >'
                        }
                        else if (o.approved == 3) {
                            dechtm = '<li>'+
                                            '<label class="item-content">'+
                                                '<div class="item-inner">'+
                                                    '<div class="item-title-row">'+
                                                        '<div class="item-title">'+ o.name + ' ' + o.username + '<span class="gray-word">' + o.dd + '</span>'+
                                                        '</div>'+
                                                    '</div>'+
                                                    '<div class="item-text"> '+ o.comment + '</div>'+
                                                '</div>'+
                                            '</label>'+
                                        '</li>';
                            hstyle = 'cp02'
                            ulstyle = 'uc02'
                            htm += '<li ><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span> <span class="yj03">' + o.dd + '</span> <span class="yj05">驳回</span></div></li >'
                        } else {
                            if (o.comment != "") {
                                dechtm += '<li>'+
                                            '<label class="item-content">'+
                                                '<div class="item-inner">'+
                                                    '<div class="item-title-row">'+
                                                        '<div class="item-title">'+ o.name + ' ' + o.username + '<span class="gray-word">' + o.dd + '</span>'+
                                                        '</div>'+
                                                    '</div>'+
                                                    '<div class="item-text"> '+ o.comment + '</div>'+
                                                '</div>'+
                                            '</label>'+
                                        '</li>';
                            }
                            hstyle = 'cp02'
                            ulstyle = 'uc02'
                            htm += '<li><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span></div></li >'
                        }
                    }
                    else {
                        htm += '</ul>';
                        pdepart = o.pname;
                        htm += '<h4 class="' + hstyle + '"><span></span>' + pdepart + '</h4>';
                        if (o.approved == 2) {
                            if (o.comment != "") {
                                passhtm += '<li>'+
                                        '<label class="item-content">'+
                                            '<div class="item-inner">'+
                                                '<div class="item-title-row">'+
                                                    '<div class="item-title">'+ o.name + ' ' + o.username + '<span class="gray-word">' + o.dd + '</span>'+
                                                    '</div>'+
                                                '</div>'+
                                                '<div class="item-text"> '+ o.comment + '</div>'+
                                            '</div>'+
                                        '</label>'+
                                    '</li>';
                            }
                            htm += '<ul class="' + ulstyle + '"><li class="li-blue2"><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span> <span class="yj03">' + o.dd + '</span> <span class="yj04">同意</span></div></li >'
                        }
                        else if (o.approved == 3) {
                            dechtm += '<li>'+
                                            '<label class="item-content">'+
                                                '<div class="item-inner">'+
                                                    '<div class="item-title-row">'+
                                                        '<div class="item-title">'+ o.name + ' ' + o.username + '<span class="gray-word">' + o.dd + '</span>'+
                                                        '</div>'+
                                                    '</div>'+
                                                    '<div class="item-text"> '+ o.comment + '</div>'+
                                                '</div>'+
                                            '</label>'+
                                        '</li>';
                            hstyle = 'cp02'
                            ulstyle = 'uc02'
                            htm += '<ul class="' + ulstyle + '"><li><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span> <span class="yj03">' + o.dd + '</span> <span class="yj05">驳回</span></div></li >'
                        } else {
                            if (o.comment != "") {
                                dechtm += '<li>'+
                                                '<label class="item-content">'+
                                                    '<div class="item-inner">'+
                                                        '<div class="item-title-row">'+
                                                            '<div class="item-title">'+ o.name + ' ' + o.username + '<span class="gray-word">' + o.dd + '</span>'+
                                                            '</div>'+
                                                        '</div>'+
                                                        '<div class="item-text"> '+ o.comment + '</div>'+
                                                    '</div>'+
                                                '</label>'+
                                            '</li>';
                            }
                            hstyle = 'cp02'
                            ulstyle = 'uc02'
                            htm += '<ul class="' + ulstyle + '"><li><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span></div></li >'
                        }
                    }
                }
                htm += '</ul><h4 class="' + hstyle + '"><span></span>结束</h4>';
                $("#transferInfo").html(htm);
                $(".meetp-feedback-red").html(dechtm);
                $(".meetp-feedback-green").html(passhtm);
                var comlenght=$('.meetp-feedback-green').children('li').length
                $(".js-feed-count").html(comlenght);

                if($(".meetp-feedback-green").html()==""){
                    $(".meetp-advice-green").hide()
                }else{
                    $(".meetp-advice-green").show()
                }

                if($(".meetp-feedback-red").html()==""){
                    $(".meetp-advice-red").hide()
                }else{
                    $(".meetp-advice-red").show()
                }
            })


        })
        function winHistory(){
            window.location.href = "/MobileList?type=4";
        }
        function logout() {
            if (confirm("要确定系统么？")) {
                window.location.href = "/MobileLogin";
            }
        }
        function logindex() {
            window.location.href = "/MobileMain";
        }
    </script>
</body>

</html>
