
@{
    ViewBag.Title = "定标文件申请";
}



<link rel="stylesheet" href="~/css/icheck/minimal/minimal.css" />
<link href="~/css/sweetalert2.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/style.css" />
<style>
    .download div {
        display: block;
        float: left;
    }
        .download div.cc {
            margin-bottom: 100px;
        }
</style>
<div class="left-nav">
    <div class="left-nav-con">
        <h1>定标文件</h1>
        <ul class="left-nav-list">
            <li><a href="/MakeBidFile"><i class="icon icon-eye1"></i>定标文件</a></li>
            @*<li><a href="/MakeBidFile/FileApplication"><i class="icon icon-hand1"></i>文件申请</a></li>*@
            <li><a href="/MakeBidFile/FileApprove" class="active"><i class="icon icon-user1"></i>文件审批</a></li>
            @*<li><a href="winning_bid.html"><i class="icon icon-edit1"></i>中标公告</a></li>
                <li><a href="abandoned_tender.html"><i class="icon icon-fet1"></i>废标</a></li>*@
        </ul>
    </div>
</div>

<div class="main-con">
    <div class="main-wrap">
        <div class="main-top">
            <span class="page-title">定标文件详情</span>
            <div class="apply-opt">
                <a href="javascript:;" class="js-cancle-meet bohui" title="驳回" onclick="declineApplication()">
                    <i class="meet-icon icon-cancel icon-bh">驳回</i>
                </a>
                <a href="#" onclick="window.history.go(-1)" class="js-cancle-meet" title="返回">
                    <i class="meet-icon icon-del icon-tb">返回</i>
                </a>
            </div>
        </div>
        <div class="wc-container dbwj-cont">
            <div class="detail-wrap detail-con">

                <div class="block-left block-left2 block-left4">
                    <h2>
                        @ViewBag.PName
                    </h2>
                    <div class="art-tit"><span>发布单位：</span>@ViewBag.Publisher <span>发布时间：</span> @ViewBag.PublishDate</div>
                    <div class="dbwj-wz01">
                        @Html.Raw(ViewBag.Abstract) 
                    </div>
                    <H3>招标内容介绍：</H3>
                    <p>
                       @Html.Raw(ViewBag.ProDescription) 
                    </p>
                    <h3>参加投标单位及投标报价：</h3>
                    <div style="display: block;overflow: hidden">
                        <ul class="ull ulll">
                            @Html.Raw(ViewBag.JoinCompany)
                        </ul>
                    </div>
                    <h3>拟选中标单位：</h3>
                    <ul class="nxzbdw">
                        @Html.Raw(ViewBag.WinCompany)
                    </ul>
                    <h3>定标文件详细说明</h3>
                    @Html.Raw(ViewBag.FileExplain)
                    <div class="download" style="margin-top: 10px;">
                        <div><i class="meet-icon icon-file"></i></div>
                        <div class="cc">
                            <ul id="bffiles"></ul>
                        </div>
                    </div>
                </div>
                <div class="block-right block-right2">
                    <div class="block-right-wrap" style="margin-left:20px">
                        <div class="right-block">
                            <div class="right-block-title">
                                <div class="feedback-area-head">
                                    <i class="meet-icon icon-message-opt"></i>
                                    <span class="right-block-title">请输入您的审核意见：</span>
                                </div>
                            </div>
                            <div class="feedback-area-wrap">
                                <div class="feedback-area-con">
                                    <textarea name="reasons" style="min-height: 50px;" id="feedback-area"
                                              placeholder="请输入"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="deal-apply-btn deal-apply-btn2">
                            <a class="meet-btn big-btn blue-btn js-deal green-btn blue-btn2" onclick="approveApplication()">审核通过</a>

                        </div>

                        <div class="block-rigt">
                            <div class="detail-user2">
                                <a class="meet-btn2 medium-btn">审核意见</a>
                                <a class="meet-btn2 medium-btn active">流转信息</a>
                            </div>
                            <div class="detail-user-list2 right-ss"
                                 style="min-height:215px;overflow: auto;">
                                <div class="meet-user-span2" style="display: none;">
                                    <div class="feedback-con feedback-con2">
                                        <div class="feedback-item decfeedback-item">
                                            <div class="feedback-item-title">
                                                <i class="meet-icon icon-message-on"></i>
                                                驳回理由
                                            </div>
                                            <ul class="feedback-list feedback-admin">
                                                <li id="declineInfo"></li>
                                            </ul>
                                        </div>
                                        <div class="feedback-item js-myattend">
                                            <div class="feedback-item-title">
                                                <i class="meet-icon icon-message"></i>
                                                共<span class="js-feed-count"></span>条回复消息
                                            </div>
                                            <ul class="feedback-list feedback-users">
                                                <li id="passlineInfo"></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div id="transferInfo" class="meet-user-span2" style="display: block;">
                                </div>

                            </div>
                        </div>

                     </div>
                </div>
            </div>

        </div>
    </div>
</div>

    <script type="text/javascript" src="~/js/jquery-1.11.0.js"></script>
    <script type='text/javascript' src='~/js/jquery-ui.min.js'></script>
    <script src="~/js/sweetalert2.all.js"></script>
    <script type="text/javascript" src="~/js/validate/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/js/validate/messages_zh.min.js"></script>
    <script type="text/javascript" src="~/js/icheck/icheck.min.js"></script>
    <script type='text/javascript' src='~/js/js.js'></script>
    <script>
        $.get("/Projects/GetFiles?pid=@ViewBag.pid&ftype=4", function (data) {
            var obj = JSON.parse(data);
            for (var i = 0; i < obj.length; i++) {
                var li = document.createElement('li');
                li.innerHTML ='<span style = "color:#3e3a39;margin-left: 5px;" >' + obj[i].FileName+'<a href = "'+obj[i].FilePath+'" style = "color:#008cd6;margin-left: 5px;" target="_blank">下载</a><span>'
                document.getElementById("bffiles").appendChild(li)
            }
    });
        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg); //获取url中"?"符后的字符串并正则匹配
            var context = "";
            if (r != null)
                context = r[2];
            reg = null;
            r = null;
            return context == null || context == "" || context == "undefined" ? "" : context;
        }

        $(function () {

            var fid = getQueryString('fid');

            if (fid == "2" || fid == "3") {
                $(".deal-apply-btn.deal-apply-btn2").hide();
                $(".right-block").hide();
                $(".bohui").hide();
            }
            if ($("#passlineInfo").html() == "") {
                $(".feedback-item.js-myattend").hide()
            } else {
                $(".feedback-item.js-myattend").show()
            }

            if ($("#declineInfo").html() == "") {
                $(".feedback-item.decfeedback-item").hide()
            } else {
                $(".feedback-item.decfeedback-item").show()
            }
            $.get("/Common/GetApproveProcessingInfo", { oid:@ViewBag.pid, apid:4}, function (data) {
                var obj = JSON.parse(data);
                var cuid=@ViewBag.UserId;
           
            if (obj.length == 0)
                return;
            var pdepart = obj[0].pname;
            var dechtm = "";
            var passhtm = "";
            var htm = '<h4 class="cp01"><span></span>' + pdepart + '</h4><ul>';//<li><span class="yj06">' + obj[0].name + '</span> <span class="yj02">' + obj[0].username + '</span> <span class="yj03">' + obj[0].dd +'</span> <span class="yj04">提交申请</span></li >';
            var hstyle = 'cp01'; //cp02
            var ulstyle = 'uc01'; //uc02
            for (var i = 0; i < obj.length; i++) {
                var o = obj[i];
                if(o.uid==cuid){
                    $("#feedback-area").val(o.comment);
                }
                if(i==0){
                    htm+='<li class="li-blue2"><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span> <span class="yj03">' + o.dd + '</span> <span class="yj04">提交申请</span></div></li >'
                    continue;
                }
                if (o.pname == pdepart) {
                    if (o.approved == 2) {
                        if (o.comment != "") {
                            passhtm += '<h3>' + o.name + ' <i>' + o.username + '</i> <span>' + o.dd + '</span></h3><p class="passbjg"  id="comlenght" > ' + o.comment + '</p >'
                        }
                        htm += '<li class="li-blue2"><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span> <span class="yj03">' + o.dd + '</span> <span class="yj04">同意</span></div></li >'
                    }
                    else if (o.approved == 3) {
                        dechtm = '<h3>' + o.name + ' <i>' + o.username + '</i> <span>' + o.dd + '</span></h3><p class="bjg" > ' + o.comment + '</p >' + dechtm
                        hstyle = 'cp02'
                        ulstyle = 'uc02'
                        htm += '<li ><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span> <span class="yj03">' + o.dd + '</span> <span class="yj05">驳回</span></div></li >'
                    } else {
                        if (o.comment != "") {
                            dechtm += '<h3>' + o.name + ' <i>' + o.username + '</i> <span>' + o.dd + '</span></h3><p class="bjg" > ' + o.comment + '</p >'
                        }
                        hstyle = 'cp02'
                        ulstyle = 'uc02'
                        htm += '<li><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span></div></li >'
                    }
                }
                else {
                    htm += '</ul>';
                    pdepart = o.pname;
                    htm += '<h4 class="' + hstyle + '"><span></span>' + pdepart + '</h4>';
                    if (o.approved == 2) {
                        if (o.comment != "") {
                            passhtm += '<h3>' + o.name + ' <i>' + o.username + '</i> <span>' + o.dd + '</span></h3><p class="passbjg" id="comlenght" > ' + o.comment + '</p >'
                        }
                        htm += '<ul class="' + ulstyle + '"><li class="li-blue2"><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span> <span class="yj03">' + o.dd + '</span> <span class="yj04">同意</span></div></li >'
                    }
                    else if (o.approved == 3) {
                        dechtm += '<h3>' + o.name + ' <i>' + o.username + '</i> <span>' + o.dd + '</span></h3><p class="bjg" > ' + o.comment + '</p >'
                        hstyle = 'cp02'
                        ulstyle = 'uc02'
                        htm += '<ul class="' + ulstyle + '"><li><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span> <span class="yj03">' + o.dd + '</span> <span class="yj05">驳回</span></div></li >'
                    } else {
                        if (o.comment != "") {
                            dechtm += '<h3>' + o.name + ' <i>' + o.username + '</i> <span>' + o.dd + '</span></h3><p class="bjg" > ' + o.comment + '</p >'
                        }
                        hstyle = 'cp02'
                        ulstyle = 'uc02'
                        htm += '<ul class="' + ulstyle + '"><li><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span></div></li >'
                    }
                }
            }
            htm += '</ul><h4 class="' + hstyle + '"><span></span>结束</h4>';
            $("#transferInfo").html(htm);
            $("#declineInfo").html(dechtm);
            $("#passlineInfo").html(passhtm);
            var comlenght = $('#passlineInfo').children('p').length
            $(".js-feed-count").html(comlenght);
            console.log(comlenght);
            if ($("#passlineInfo").html() == "") {
                $(".feedback-item.js-myattend").hide()
            } else {
                $(".feedback-item.js-myattend").show()
            }

            if ($("#declineInfo").html() == "") {
                $(".feedback-item.decfeedback-item").hide()
            } else {
                $(".feedback-item.decfeedback-item").show()
            }
            })


        })

        function declineApplication() {
            var feedback = $("#feedback-area").val()
            if (feedback == "") {
                swal({
                    title: '必须填写意见！',
                    text: '2秒后自动关闭。',
                    timer: 2000
                }).then(
                function () { },
                // handling the promise rejection
                function (dismiss) {
                    if (dismiss === 'timer') {
                        console.log('I was closed by the timer')
                    }
                }
            )
            } else {

                swal({
                    title: '确定驳回该申请？',
                    text: '你将无法撤回！',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: '确定驳回！'
                }).then(
            function (cc) {
                if (cc.dismiss != "cancel") {
                    swal(
                  '成功！',
                  '您以驳回该申请。',
                  'success'
                    );
                    $(".deal-apply-btn.deal-apply-btn2").hide();
                    $(".right-block").hide();
                    $(".bohui").hide();
                    $.post("/Common/UpdateApproveProcess", { apid:4, oid: @ViewBag.pid, astatus: 3, comment: feedback }, function () {
                        window.history.go(-1);
                    })
                }
            })
            }
        }

        function approveApplication() {
            var feedback = $("#feedback-area").val()
            swal({
                title: '确定通过该申请？',
                text: '你将无法撤回！',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '确定通过！'
            }).then(
            function (cc) {
                if (cc.dismiss != "cancel") {
                    swal(
                  '通过！',
                  '您以同意该申请。',
                  'success'
                    );
                    $(".deal-apply-btn.deal-apply-btn2").hide();
                    $(".right-block").hide();
                    $(".apply-opt a.js-cancle-meet:nth-child(1)").hide();
                    $.post("/Common/UpdateApproveProcess", { apid:4, oid: @ViewBag.pid, astatus: 2, comment: feedback }, function () {
                        window.history.go(-1);
                    })
                }
            })

        }
    </script>