
@{
    ViewBag.Title = "定标文件详情";
}
<link rel="stylesheet" href="~/css/icheck/minimal/minimal.css" />
<link rel="stylesheet" href="~/css/sweetalert/sweetalert.css" />
<link rel="stylesheet" href="~/css/style.css" />
<style>
    .download div {
    display: block;
    float: left;
}
    .download div.cc{
        margin-bottom:100px
    }
    </style>
<div class="left-nav">
    <div class="left-nav-con">
        <h1>定标文件</h1>
        <ul class="left-nav-list">
            <li><a href="/MakeBidFile" class="active"><i class="icon icon-eye1"></i>定标文件</a></li>
            @*<li><a href="/MakeBidFile/FileApplication"><i class="icon icon-hand1"></i>文件申请</a></li>*@
            <li><a href="/MakeBidFile/FileApprove"><i class="icon icon-user1"></i>文件审批</a></li>
            @*<li><a href="winning_bid.html"><i class="icon icon-edit1"></i>中标公告</a></li>
                <li><a href="abandoned_tender.html"><i class="icon icon-fet1"></i>废标</a></li>*@
        </ul>
    </div>
</div>

<div class="main-con">
    <div class="main-wrap">
        <div class="main-top">
            <span class="page-title">定标文件详情</span>
            <div class="apply-opt">
                <a href="#" onclick="window.history.go(-1)" class="js-cancle-meet" title="返回">
                    <i class="meet-icon icon-del icon-tb">返回</i>
                </a>
            </div>
        </div>
        <div class="wc-container dbwj-cont">
            <h2>
                @ViewBag.PName
            </h2>
            <div class="art-tit"><span>发布单位：</span>@ViewBag.Publisher <span>发布时间：</span> @ViewBag.PublishDate</div>
            <div class="dbwj-wz01">
                @Html.Raw(ViewBag.Abstract)
            </div>
            <H3>招标内容介绍：</H3>
            <p> @Html.Raw(ViewBag.ProDescription)</p>
            <h3>参加投标单位及投标报价：</h3>
            <div style="display: block;overflow: hidden">
                <ul class="ull">
                    @Html.Raw(ViewBag.JoinCompany)
                </ul>
            </div>
            <h3>拟选中标单位：</h3>
            <ul class="nxzbdw">
                @Html.Raw(ViewBag.WinCompany)
            </ul>
            <h3>定标文件详细说明</h3>
            @Html.Raw(@ViewBag.FileExplain)
            <div class="download" style="margin-top: 10px;">
                <div><i class="meet-icon icon-file"></i></div>
                <div class="cc">
                    <ul id="bffiles"></ul>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="~/js/jquery-1.11.0.js"></script>
<script type='text/javascript' src='~/js/jquery-ui.min.js'></script>
<script type="text/javascript" src="~/js/sweetalert/sweetalert.min.js"></script>
<script type="text/javascript" src="~/js/validate/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/js/validate/messages_zh.min.js"></script>
<script type="text/javascript" src="~/js/icheck/icheck.min.js"></script>
<script type='text/javascript' src='~/js/js.js'></script>

<script>

    $.get("/Projects/GetFiles?pid=@ViewBag.pid&ftype=4", function (data) {
        var obj = JSON.parse(data);
        for (var i = 0; i < obj.length; i++) {
            var li = document.createElement('li');
            li.innerHTML = '<span style = "color:#3e3a39;margin-left: 5px;" >' + obj[i].FileName + '<a href = "' + obj[i].FilePath + '" style = "color:#008cd6;margin-left: 5px;" target="_blank">下载</a><span>'
            document.getElementById("bffiles").appendChild(li)
        }
    });
</script>



