
@{
    ViewBag.Title = "统计分析详情";
}


<link rel="stylesheet" href="~/css/jquery-ui-timepicker-addon.css" />
<link rel="stylesheet" href="~/js/ztree/zTreeStyle/zTreeStyle.css" type="text/css">
<link rel="stylesheet" href="~/css/icheck/minimal/minimal.css" />
<link rel="stylesheet" href="~/css/select/easydropdown.metro.css" />
<link rel="stylesheet" href="~/css/sweetalert/sweetalert.css" />
<link rel="stylesheet" href="~/css/style.css" />
<style>
     .meet-table tr td{
    border: 0px solid ;
     }
    .white-bg td:nth-child(3){
    height:60px;
    margin:10px 0px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    }
    .meet-table2{
        border:1px solid #ececec;       
    }
    .meet-table{
        margin-bottom:100px;
    }
</style>
<div class="left-nav">
    <div class="left-nav-con">
        <h1>统计分析</h1>
        <ul class="left-nav-list">
            <li><a href="/Statistic" class="active"><i class="icon icon-eye1"></i>统计分析</a></li>
        </ul>
    </div>
</div>
<div class="main-con">
    <div class="main-wrap main-wrap2">
        <span class="js-page-name" style="font-weight: bold">统计分析详情</span>
        <div class="apply-opt">

            <a href="#" class="js-cancle-meet" onclick="window.history.go(-1)" title="返回">
                <i class="meet-icon icon-del icon-tb">返回</i>
            </a>
        </div>
        <div style="margin-top: 23px;">
            @*<a class="meet-btn blue-btn sm-btn" href="#" style="text-align: center;padding-left: 0">全部</a>&nbsp;&nbsp;<input name="userTimeBegin" id="userTimeBegin" class="date-input radius-sel Wdate" type="text"
    value="" placeholder=""
      onclick="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'',maxDate:''})">&nbsp;&nbsp;至&nbsp;&nbsp;<input name="userTimeEnd" id="userTimeEnd" class="date-input radius-sel Wdate" type="text" value=""
                                                                                                                  placeholder="" onclick="WdatePicker({dateFmt:'yyyy-MM-dd ',minDate:'',maxDate:''})">
            &nbsp;&nbsp;<a href="#" class="meet-btn orange-btn small-size sm-btn js-output-excle">
                <i class="xs-meet-icon icon-daoout"></i>导出
            </a>*@
        </div>
        <h3 class="fx_tit">@ViewBag.Name</h3>
    </div>
    <div class="wc-container">
        <div class="detail-user detail-user2 detail-user3">
            <a class="meet-btn medium-btn">
                全部<span>@ViewBag.Total</span>
            </a>
            <a class="meet-btn medium-btn active">
                参加<span>@ViewBag.JoinBiding</span>
            </a>
            <a class="meet-btn medium-btn">不参加<span>@ViewBag.NoJoin</span></a>
            <a class="meet-btn medium-btn">未响应<span>@ViewBag.NoResponse</span></a>
            <a class="meet-btn medium-btn">未中标<span>@ViewBag.NoWin</span></a>
            <a class="meet-btn medium-btn">中标<span>@ViewBag.Win</span></a>
        </div>
        <div style="position: absolute;right: 30px;top:10px;font-weight: bold">
            总中金额：<span style="color: #008cd6">@ViewBag.TotalAmount 万</span>
        </div>
        <div class="detail-user-list" style="min-height:215px;overflow: auto;padding-top: 10px;">
            <div class="meet-user-span" >
                <table class="meet-table text-left meet-table2">
                    <thead class="wc-header wc-header2">
                        <tr>
                            <td style="width:350px;padding:0px 5px">项目名称</td>
                            <td style="width:100px;padding:0px 5px">时间</td>
                            <td style="width:500px;padding:0px 5px">招标内容介绍</td>
                            <td style="width:100px;padding:0px 5px">项目地点</td>
                            <td style="width:100px;padding:0px 5px">金额</td>
                            <td style="width:100px;padding:0px 5px">参与状态</td>
                        </tr>
                    </thead>
                    <tbody id="table-all"></tbody>
                </table>
            </div>
            <div class="meet-user-span "style="display: block;">
                <table class="meet-table text-left">
                    <thead class="wc-header wc-header2">
                        <tr>
                            <td style="width:350px;padding:0px 5px">项目名称</td>
                            <td style="width:100px;padding:0px 5px">时间</td>
                            <td style="width:500px;padding:0px 5px">招标内容介绍</td>
                            <td style="width:100px;padding:0px 5px">项目地点</td>
                            <td style="width:100px;padding:0px 5px">金额</td>
                            <td style="width:100px;padding:0px 5px">参与状态</td>
                        </tr>
                    </thead>
                    <tbody id="table-join"></tbody>
                </table>
            </div>
            <div class="meet-user-span">
                <table class="meet-table text-left">
                    <thead class="wc-header wc-header2">
                        <tr>
                            <td style="width:350px;padding:0px 5px">项目名称</td>
                            <td style="width:100px;padding:0px 5px">时间</td>
                            <td style="width:500px;padding:0px 5px">招标内容介绍</td>
                            <td style="width:100px;padding:0px 5px">项目地点</td>
                            <td style="width:100px;padding:0px 5px">金额</td>
                            <td style="width:100px;padding:0px 5px">参与状态</td>
                        </tr>
                    </thead>
                    <tbody id="table-nojoin"></tbody>
                </table>
            </div>
            <div class="meet-user-span">
                <table class="meet-table text-left">
                    <thead class="wc-header wc-header2">
                        <tr>
                            <td style="width:350px;padding:0px 5px">项目名称</td>
                            <td style="width:100px;padding:0px 5px">时间</td>
                            <td style="width:500px;padding:0px 5px">招标内容介绍</td>
                            <td style="width:100px;padding:0px 5px">项目地点</td>
                            <td style="width:100px;padding:0px 5px">金额</td>
                            <td style="width:100px;padding:0px 5px">参与状态</td>
                        </tr>
                    </thead>
                    <tbody id="table-noresponse"></tbody>
                </table>
            </div>
            <div class="meet-user-span">
                <table class="meet-table text-left">
                    <thead class="wc-header wc-header2">
                        <tr>
                            <td style="width:350px;padding:0px 5px">项目名称</td>
                            <td style="width:100px;padding:0px 5px">时间</td>
                            <td style="width:500px;padding:0px 5px">招标内容介绍</td>
                            <td style="width:100px;padding:0px 5px">项目地点</td>
                            <td style="width:100px;padding:0px 5px">金额</td>
                            <td style="width:100px;padding:0px 5px">参与状态</td>
                        </tr>
                    </thead>
                    <tbody id="table-nowin"></tbody>
                </table>
            </div>
            <div class="meet-user-span">
                <table class="meet-table text-left">
                    <thead class="wc-header wc-header2">
                        <tr>
                            <td style="width:350px;padding:0px 5px">项目名称</td>
                            <td style="width:100px;padding:0px 5px">时间</td>
                            <td style="width:500px;padding:0px 5px">招标内容介绍</td>
                            <td style="width:100px;padding:0px 5px">项目地点</td>
                            <td style="width:100px;padding:0px 5px">金额</td>
                            <td style="width:100px;padding:0px 5px">参与状态</td>
                        </tr>
                    </thead>
                    <tbody id="table-win"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/js/jquery-1.11.0.js"></script>
<script type="text/javascript" src="~/js/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="~/js/ztree/jquery.ztree.core.js"></script>
<script type="text/javascript" src="~/js/ztree/jquery.ztree.excheck.js"></script>
<script type="text/javascript" src="~/js/sweetalert/sweetalert.min.js"></script>
<script type="text/javascript" src="~/js/validate/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/js/validate/messages_zh.min.js"></script>
<script type="text/javascript" src="~/js/icheck/icheck.min.js"></script>
<script type="text/javascript" src="~/js/select/jquery.easydropdown.js"></script>
<script type="text/javascript" src="~/js/upload.js"></script>
<script type="text/javascript" src="~/js/js.js"></script>


<script>
    $.post("/Statistic/GetCompanyBidDetail", { cid: @ViewBag.cid}, function (res) {
        var data = JSON.parse(res);
        var allhtm='';
        var joinhtm='';
        var nojoinhtm='';
        var noresponsehtm='';
        var nowinhtm='';
        var winhtm='';
        for (var i = 0; i <data.length; i++) {
            var o = data[i];
            allhtm+='<tr class="white-bg">'+
                        '<td>'+o.name1+'</td>'+
                        '<td>'+o.opendate+'</td>'+
                        '<td style="height:60px;">'+o.prodescription+'</td>'+
                        '<td>'+o.location+'</td>'+
                        '<td class="gray-time">'+o.amount+'万</td>'+
                        '<td class="gray-time">'+o.status+'</td>'+
                    '</tr>';

                if(o.status=="不参加"){
                    nojoinhtm+='<tr class="white-bg">'+
                                '<td>'+o.name1+'</td>'+
                                '<td>'+o.opendate+'</td>'+
                                '<td style="height:60px;">'+o.prodescription+'</td>'+
                                '<td>'+o.location+'</td>'+
                                '<td class="gray-time">'+o.amount+'万</td>'+
                                '<td class="gray-time">'+o.status+'</td>'+
                            '</tr>';
                }
                if(o.status=="参加"){
                    joinhtm+='<tr class="white-bg">'+
                                '<td>'+o.name1+'</td>'+
                                '<td>'+o.opendate+'</td>'+
                                '<td style="height:60px;">'+o.prodescription+'</td>'+
                                '<td>'+o.location+'</td>'+
                                '<td class="gray-time">'+o.amount+'万</td>'+
                                '<td class="gray-time">'+o.status+'</td>'+
                            '</tr>';
                }
                if(o.status=="未响应"){
                    noresponsehtm+='<tr class="white-bg">'+
                                '<td>'+o.name1+'</td>'+
                                '<td>'+o.opendate+'</td>'+
                                '<td style="height:60px;">'+o.prodescription+'</td>'+
                                '<td>'+o.location+'</td>'+
                                '<td class="gray-time">'+o.amount+'万</td>'+
                                '<td class="gray-time">'+o.status+'</td>'+
                            '</tr>';
                }
                if(o.status=="中标"){
                    winhtm+='<tr class="white-bg">'+
                                '<td>'+o.name1+'</td>'+
                                '<td>'+o.opendate+'</td>'+
                                '<td style="height:60px;">'+o.prodescription+'</td>'+
                                '<td>'+o.location+'</td>'+
                                '<td class="gray-time">'+o.amount+'万</td>'+
                                '<td class="gray-time">'+o.status+'</td>'+
                            '</tr>';
                }
                if(o.status=="未中标"){
                    nowinhtm='<tr class="white-bg">'+
                                '<td>'+o.name1+'</td>'+
                                '<td>'+o.opendate+'</td>'+
                                '<td style="height:60px;">'+o.prodescription+'</td>'+
                                '<td>'+o.location+'</td>'+
                                '<td class="gray-time">'+o.amount+'万</td>'+
                                '<td class="gray-time">'+o.status+'</td>'+
                            '</tr>';
                }
            
        }
        $("#table-all").html(allhtm)
        $("#table-join").html(joinhtm)
        $("#table-join").append(winhtm)
        $("#table-nojoin").html(nojoinhtm)
        $("#table-noresponse").html(noresponsehtm)
        $("#table-nowin").html(nowinhtm)
        $("#table-nowin").append(joinhtm)
        $("#table-win").html(winhtm)
    });
</script>
