
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>中国铁建房地产行政办公系统</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="~/cssMobile/light/light7.min.css">
    <link rel="stylesheet" href="~/cssMobile/phone.css" />
    <script type='text/javascript' src='~/jsMobile/jquery.js'></script>
    <script src="~/js/wow.min.js"></script>
 
</head>
<body >
    <div class="page-group">
        <div class="page page-current">
            <header class="bar bar-nav meetp-nav">
                <div class="meetp-header">
                    <a href="index.html"><img src="~/imgMobile/logo.png" /></a><span class="span1">张海燕</span><span class="span2">
                        <a href="login.html">
                            <img src="~/imgMobile/loginout-icon.png" alt="">
                        </a>
                    </span>
                </div>
                <div class="meetp-bar">
                    <a class="button button-link button-nav pull-left back" href="list.html">
                        <span class="icon icon-left"></span>
                    </a>
                    <h1 class="title">企业审核-企业信息详情</h1>
                </div>
            </header>
            <div class="content native-scroll ">
                <div class="buttons-tab meetp-buttons-tab">
                    <a href="#tab1" class="tab-link active button">基本信息</a>
                    <a href="#tab2" class="tab-link button">资质证明</a>
                    <a href="#tab3" class="tab-link button">工作业绩</a>

                    <a href="#tab4" class="tab-link button">审核意见</a>
                </div>
                <div class="content-block">
                    <div class="tabs">
                        <div id="tab1" class="tab active">
                            <div class="meetp-content-block">
                                <p></p>
                            </div>
                            <div class="list-block meetp-detail-list meetp-detail-list2  meetp-content-block sjdlb"
                                 style="padding:0 0.25rem 3rem">
                                <dl>
                                    <dt>企业名称:</dt>
                                    <dd>
                                        @ViewBag.Name <span class="tjqy">推荐企业</span>&nbsp;&nbsp;<span class="mln">名录内</span>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>注册资金:</dt>
                                    <dd>@ViewBag.RegisteredCapital万元</dd>
                                </dl>
                                <dl>
                                    <dt>业务类型:</dt>
                                    <dd>@ViewBag.BusinessType</dd>
                                </dl>
                                <dl>
                                    <dt>业务范围:</dt>
                                    <dd>@ViewBag.BusinessScope</dd>
                                </dl>
                                <dl>
                                    <dt>资质等级:</dt>
                                    <dd>@ViewBag.QualificationLevel</dd>
                                </dl>
                                <dl>
                                    <dt>法人代表:</dt>
                                    <dd>@ViewBag.CorporateRepresentative<span class="lxdh">联系电话:</span>@ViewBag.RepPhone</dd>
                                </dl>
                                <dl>
                                    <dt>联系人:</dt>
                                    <dd>@ViewBag.Contact<span class="lxdh">联系电话:</span>@ViewBag.ContactPhone</dd>
                                </dl>
                                <dl>
                                    <dt>联系地址:</dt>
                                    <dd>@ViewBag.ContactAddress</dd>
                                </dl>
                                <dl>
                                    <dt>施工内容:</dt>
                                    <dd>@ViewBag.ConstructionContent</dd>
                                </dl>
                                <dl>
                                    <dt>备注:</dt>
                                    <dd>@ViewBag.Note</dd>
                                </dl>
                            </div>

                        </div>
                        <div id="tab2" class="tab  pic02 ">
                            <div class="content-block">
                                <div class="ab_con">
                                    <div class="ab_con_tip">提示：方向键切换图片，点击外侧关闭图片。</div>
                                    @Html.Raw(ViewBag.CompanyPics)
                                </div>
                            </div>
                        </div>
                        <div id="tab3" class="tab">
                            <div class="content-block right-ss">
                                <div class="meet-user-span" style="display: block;">
                                    <table style="width:100%">
                                        <thead>
                                            <tr>
                                                <td style="width:40%">承包内容</td>
                                                <td style="width:20%">合同金额</td>
                                                <td style="width:20%">状态</td>
                                                <td style="width:20%">结算金额</td>
                                                <td style="display:none">合同扫描附件</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @Html.Raw(ViewBag.WorkHistory)
                                        </tbody>
                                    </table>

                                </div>
                            </div>

                        </div>

                        <div id="tab4" class="tab">
                            <div class="content-block">
                                <div class="meetp-advice-content meetp-advice-red">
                                    <div class="meetp-advice-title">
                                        <p>
                                            <span style="color: #008cd6">各部门反馈意见：</span><i class="icon feed-icon icon-bohui"></i>驳回理由
                                        </p>
                                    </div>
                                    <ul class="meetp-feedback-list meetp-feedback-red"></ul>
                                </div>
                                <div class="meetp-advice-content meetp-advice-green">
                                    <div class="meetp-advice-title">
                                        <p>
                                            <span style="color: #008cd6">各部门反馈意见：</span><i class="icon feed-icon icon-bhreason"></i>共<span class="js-feed-count"></span>条回复信息
                                        </p>
                                    </div>
                                    <ul class="meetp-feedback-list meetp-feedback-green"></ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row btn-row">
                    <div class="buttons-row col-80 meetp-buttons-row">
                        <a href="#" onclick="greenbtn()" class="button active">同意</a>
                        <a href="#" onclick="redbtn()" class="button active">驳回</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type='text/javascript' src='~/jsMobile/jquery-1.11.0.js' charset='utf-8'></script>
    <script type='text/javascript' src='~/jsMobile/light/light7.min.js' charset='utf-8'></script>
    <script type="text/javascript" src="~/jsMobile/js.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script>
        function greenbtn(){
            location.href = "/MobileCompany/AuditAction?id=@ViewBag.cid&type=1";

        }
        function redbtn(){
            location.href = "/MobileCompany/AuditAction?id=@ViewBag.cid&type=2";
        }
        $(function () {
            $(document).on('click', '.meetp-user-list .card .card-header', function () {
                $(this).siblings(".card-content").toggleClass("active");
                $(this).find(".icon").toggleClass("icon-right")

            });

        })
        $('.content .buttons-tab a').click(function () {
            var index = $(this).index();
            $(this).addClass('active').siblings().removeClass('active');
            $('.content-block .tabs .tab').eq(index).addClass('active').siblings().removeClass('active');
        });

        //资质荣誉 图片放大
        $(function () {
            var abtab2_img = 1;
            $("a[rel=group]").fancybox({
                'titlePosition': 'over',
                'cyclic': true,
                'titleFormat': function (title, currentArray, currentIndex, currentOpts) {
                    return '<span id="fancybox-title-over">' + (currentIndex + 1) + ' / ' + currentArray.length + (title.length ? '   ' + title : '') + '</span>';
                },
                onComplete: function () {
                    var w = $(window).width(),
                        pc = w > 1200 ? 1 : 2;
                    if (abtab2_img && pc === 1) {
                        abtab2_img = 0;
                        $('.ab_con_tip').fadeIn().delay(2000).fadeOut();
                    }
                    if (abtab2_img && pc === 2) {
                        abtab2_img = 0;
                        $('.ab_con_tip').text('提示：点击图片两侧可切换，外侧关闭').css({ 'margin-left': -140 }).fadeIn().delay(2000).fadeOut();
                    }
                }
            });
        });

       function getQueryString(name) {
             var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg); //获取url中"?"符后的字符串并正则匹配
            var context = "";
            if (r != null)
                 context = r[2];
             reg = null;
             r = null;
             return context == null || context == "" || context == "undefined" ? "" : context;
      }

    var apstatus = getQueryString('approved');
    if (apstatus == "2" || apstatus == "3" || apstatus == "4") {
        $(".row.btn-row").hide();
    }
    $.get("/Common/GetApproveProcessingInfo", { oid: @ViewBag.cid, apid: @ViewBag.apid}, function (data) {
        var obj = JSON.parse(data);
        console.log(obj);
        var cuid=@ViewBag.UserId;
        if(obj.length==0)
            return;
        var pdepart = obj[0].pname;
        var dechtm = "";
        var passhtm = "";
        var htm = '<h4 class="cp01"><span></span>' + pdepart + '</h4><ul>';//<li><span class="yj06">' + obj[0].name + '</span> <span class="yj02">' + obj[0].username + '</span> <span class="yj03">' + obj[0].dd +'</span> <span class="yj04">提交申请</span></li >';
        var hstyle = 'cp01'; //cp02
        var ulstyle= 'uc01'; //uc02
        for (var i = 0; i < obj.length; i++) {
            var o = obj[i];
            if(i==0){
                htm+='<li class="li-blue2"><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span> <span class="yj03">' + o.dd + '</span> <span class="yj04">提交申请</span></div></li >'
                continue;
            }

            if(o.uid==cuid)
                $("#feedback-area").val(o.comment);
            if(o.pname == pdepart) {
                if (o.approved == 2) {
                    if(o.comment!=""){
                        passhtm += '<li>'+
                                        '<label class="item-content">'+
                                            '<div class="item-inner">'+
                                                '<div class="item-title-row">'+
                                                    '<div class="item-title">'+ o.name + ' ' + o.username + '<span class="gray-word">' + o.dd + '</span>'+
                                                    '</div>'+
                                                '</div>'+
                                                '<div class="item-text"> '+ o.comment + '</div>'+
                                            '</div>'+
                                        '</label>'+
                                    '</li>';
                    }
                    htm += '<li class="li-blue2"><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span> <span class="yj03">' + o.dd + '</span> <span class="yj04">同意</span></div></li >'
                }
                else if (o.approved == 3) {
                    dechtm = '<li>'+
                                '<label class="item-content">'+
                                    '<div class="item-inner">'+
                                        '<div class="item-title-row">'+
                                            '<div class="item-title">'+ o.name + ' ' + o.username + '<span class="gray-word">' + o.dd + '</span>'+
                                            '</div>'+
                                        '</div>'+
                                        '<div class="item-text"> '+ o.comment + '</div>'+
                                    '</div>'+
                                '</label>'+
                            '</li>';
                    hstyle = 'cp02'
                    ulstyle = 'uc02'
                    htm += '<li ><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span> <span class="yj03">' + o.dd + '</span> <span class="yj05">驳回</span></div></li >'
                } else {
                    if (o.comment != "") {
                        dechtm += '<li>'+
                                        '<label class="item-content">'+
                                            '<div class="item-inner">'+
                                                '<div class="item-title-row">'+
                                                    '<div class="item-title">'+ o.name + ' ' + o.username + '<span class="gray-word">' + o.dd + '</span>'+
                                                    '</div>'+
                                                '</div>'+
                                                '<div class="item-text"> '+ o.comment + '</div>'+
                                            '</div>'+
                                        '</label>'+
                                    '</li>';
                    }
                    hstyle = 'cp02'
                    ulstyle = 'uc02'
                    htm += '<li><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span></div></li >'
                }
            }
            else {
                htm += '</ul>';
                pdepart = o.pname;
                htm += '<h4 class="' + hstyle + '"><span></span>' + pdepart + '</h4>';
                if (o.approved == 2) {
                    if(o.comment!=""){
                        passhtm += '<li>'+
                                        '<label class="item-content">'+
                                            '<div class="item-inner">'+
                                                '<div class="item-title-row">'+
                                                    '<div class="item-title">'+ o.name + ' ' + o.username + '<span class="gray-word">' + o.dd + '</span>'+
                                                    '</div>'+
                                                '</div>'+
                                                '<div class="item-text"> '+ o.comment + '</div>'+
                                            '</div>'+
                                        '</label>'+
                                    '</li>';
                    }
                    htm += '<ul class="' + ulstyle + '"><li class="li-blue2"><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span> <span class="yj03">' + o.dd + '</span> <span class="yj04">同意</span></div></li>'
                }
                else if (o.approved == 3) {
                    dechtm += '<li>'+
                                '<label class="item-content">'+
                                    '<div class="item-inner">'+
                                        '<div class="item-title-row">'+
                                            '<div class="item-title">'+ o.name + ' ' + o.username + '<span class="gray-word">' + o.dd + '</span>'+
                                            '</div>'+
                                        '</div>'+
                                        '<div class="item-text"> '+ o.comment + '</div>'+
                                    '</div>'+
                                '</label>'+
                            '</li>';
                    hstyle = 'cp02'
                    ulstyle = 'uc02'
                    htm += '<ul class="' + ulstyle + '"><li><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span> <span class="yj03">' + o.dd + '</span> <span class="yj05">驳回</span></div></li >'
                } else {
                    if (o.comment != "") {
                        dechtm += '<li>'+
                                    '<label class="item-content">'+
                                        '<div class="item-inner">'+
                                            '<div class="item-title-row">'+
                                                '<div class="item-title">'+ o.name + ' ' + o.username + '<span class="gray-word">' + o.dd + '</span>'+
                                                '</div>'+
                                            '</div>'+
                                            '<div class="item-text"> '+ o.comment + '</div>'+
                                        '</div>'+
                                    '</label>'+
                                '</li>';
                    }
                    hstyle = 'cp02'
                    ulstyle = 'uc02'
                    htm += '<ul class="' + ulstyle + '"><li><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span></div></li >'
                }
            }
        }
        htm += '</ul><h4 class="' + hstyle + '"><span></span>结束</h4>';
        $("#transferInfo").html(htm);
        $(".meetp-feedback-red").html(dechtm);
        $(".meetp-feedback-green").html(passhtm);
        var comlenght=$('.meetp-feedback-green').children('li').length
        $(".js-feed-count").html(comlenght);

        if($(".meetp-feedback-green").html()==""){
            $(".meetp-advice-green").hide()
        }else{
            $(".meetp-advice-green").show()
        }

        if($(".meetp-feedback-red").html()==""){
            $(".meetp-advice-red").hide()
        }else{
            $(".meetp-advice-red").show()
        }
    })
    </script>
</body>
</html>