
@{
    ViewBag.Title = "招标详情";
}



<link rel="stylesheet" href="~/css/icheck/minimal/minimal.css" />
<link rel="stylesheet" href="~/css/style.css" />
<link href="~/css/sweetalert2.css" rel="stylesheet" />
<style>

    .meet-form.meet-form7 .form-tr .blue-word{
        color:dodgerblue;
    }
   .meet-form.meet-form7 .form-tr td:nth-child(2){
       color:#3e3a39
    }

</style>
<div class="left-nav">
    <div class="left-nav-con">
        <h1>招标内容</h1>
        <ul class="left-nav-list">
            <li><a href="/Projects" class="active"><i class="icon icon-eye1"></i>内容列表</a></li>
        </ul>
    </div>
</div>
<div class="main-con">
    <div class="main-wrap">
        <div class="main-top">
            <span class="js-page-name">招标详情</span>
            <div class="apply-opt">
                <a href="#" class="js-cancle-meet" onclick="window.history.go(-1)" title="返回">
                    <i class="meet-icon icon-del icon-tb">返回</i>
                </a>
            </div>
        </div>
        <div class="wc-container">
            <div class="wc-nav">
            </div>
            <div class="detail-wrap detail-con">

                <div class="block-left block-left2 block-left4">
                    @*<div class="detail-fb">
                        提交人：<span>@ViewBag.Publisher</span>发布时间：<span>@ViewBag.PublishDate</span>
                    </div>*@
                    <table class="meet-form meet-form7">
                        <tbody>
                            <tr class="form-tr form-tr-title-bg">
                                <td class="blue-word form-lable">项目名称：</td>
                                <td>@ViewBag.Name</td>
                            </tr>
                            <tr class="form-tr">
                                <td class="blue-word form-lable">提交人：</td>
                                <td>@ViewBag.Publisher</td>
                            </tr>
                            <tr class="form-tr">
                                <td class="blue-word form-lable">项目地点：</td>
                                <td>@ViewBag.Location</td>
                            </tr>
                            <tr class="form-tr">
                                <td class="blue-word form-lable">项目类型：</td>
                                <td>@ViewBag.Type</td>
                            </tr>
                            <tr class="form-tr">
                                <td class="blue-word form-lable">报名截止时间：</td>
                                <td>@ViewBag.ApplyDate</td>
                            </tr>
                            <tr class="form-tr">
                                <td class="blue-word form-lable">预计开标时间：</td>
                                <td>@ViewBag.OpenDate</td>
                            </tr>
                            <tr class="form-tr">
                                <td class="blue-word form-lable">拟中标单位数量：</td>
                                <td>@ViewBag.BidingNum</td>
                            </tr>
                            <tr class="form-tr">
                                <td class="blue-word form-lable">招标内容介绍：</td>
                                <td>@ViewBag.ProDescription</td>
                            </tr>
                            <tr class="form-tr">
                                <td class="blue-word form-lable">招标文件内容简介：</td>
                                <td>@ViewBag.Content</td>
                            </tr>
                            <tr class="form-tr">
                                <td class="blue-word form-lable">招标文件：</td>
                                <td><ul id="bffiles"></ul></td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
                <div class="block-right block-right2">
                    <div class="block-right-wrap">
                        <div class="block-rigt">
                            <div class="detail-user2">
                                <a class="meet-btn2 medium-btn">审核意见</a>
                                <a class="meet-btn2 medium-btn active">流转信息</a>
                            </div>
                            <div class="detail-user-list2 right-ss"
                                 style="min-height:215px;overflow: auto;">
                                <div class="meet-user-span2" style="display: none;">
                                    <div class="feedback-con feedback-con2">
                                        <div class="feedback-item decfeedback-item">
                                            <div class="feedback-item-title">
                                                <i class="meet-icon icon-message-on"></i>
                                                驳回理由
                                            </div>
                                            <ul class="feedback-list feedback-admin">
                                                <li id="declineInfo"></li>
                                            </ul>
                                        </div>
                                        <div class="feedback-item js-myattend">
                                            <div class="feedback-item-title">
                                                <i class="meet-icon icon-message"></i>
                                                共<span class="js-feed-count"></span>条回复消息
                                            </div>
                                            <ul class="feedback-list feedback-users">
                                                <li id="passlineInfo"></li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                                <div id="transferInfo" class="meet-user-span2" style="display: block;"></div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<script type="text/javascript" src="~/js/jquery-1.11.0.js"></script>
<script type="text/javascript" src="~/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="~/js/validate/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/js/validate/messages_zh.min.js"></script>
<script type="text/javascript" src="~/js/icheck/icheck.min.js"></script>
<script type="text/javascript" src="~/js/js.js"></script>
<script src="~/js/sweetalert2.all.js"></script>

<script>
    //分页
    function pages(cur, totalPage, totalRows, setNum) {
        if (!totalPage) return false;
        var url = window.location.href;
        var url_arr = url.split("?");
        var url = url_arr[0];
        var htm = '<a data-cur="1" class="js-page-num page-num" style="margin-left:5px;">《</a>' +
            '<a class="js-page-num page-num num-left" data-cur="' + (cur > 1 ? (cur - 1) : 1) + '">&lt;</a>';
        if (totalPage != 1) {
            htm += '<a data-cur="' + ((cur + 1) > totalPage ? (cur - 1) : cur) + '" class="js-page-num page-num ' + (((cur + 1) > totalPage ? (cur - 1) : cur) == cur ? "active" : "") + '">' + ((cur + 1) > totalPage ? (cur - 1) : cur) + '</a>';
        }

        htm += '<a data-cur="' + ((cur + 1) > totalPage ? totalPage : (cur + 1)) + '" class="js-page-num page-num ' + (((cur + 1) > totalPage ? totalPage : (cur + 1)) == cur ? "active" : "") + '">' + ((cur + 1) > totalPage ? totalPage : (cur + 1)) + '</a>' +
            '<a class="js-page-num num-right page-num" data-cur="' + (cur < totalPage ? (cur + 1) : totalPage) + '">&gt;</a>' +
            '<a data-cur="' + totalPage + '" class="js-page-num page-num">》</a>' +
            '<a class="page-num page-input"><input type="text" value=""/></a>' +
            '<a class="js-page-num page-num num-go active" data-cur="' + ((cur + 2) > totalPage ? cur : (cur + 2)) + '">GO</a>';
        $(".page").append(htm);

        //分页点击
        $(".page>a.js-page-num").on("click", function () {
            var url = window.location.href;
            var cur_num = $(this).data("cur");
            if ($(this).hasClass("num-go")) {
                cur_num = ($(".page-input input").val() ? $(".page-input input").val() : 1);
            }
            if (url.indexOf("?") == -1) {
                url += "?";
            }
            if (!$.getUrlParam("curPage")) {
                url = url + '&curPage=' + cur_num;
                $(this).attr("href", url);
            } else {
                replaceParamVal("curPage", cur_num);
            }
        });

        $(".page-sel").change(function () {
            var url = window.location.href;
            var page_len = $(this).val();
            if (url.indexOf("?") == -1) {
                url += "?";
            }
            if (!$.getUrlParam("Length")) {
                url = url + '&Length=' + page_len;
                window.location.href = url;
            } else {
                replaceParamValNo("curPage", 1);
                replaceParamVal("Length", page_len);
            }
        });

    }
</script>
<script>
    $.get("/Projects/GetFiles?pid=@ViewBag.pid&ftype=2", function (data) {
        console.log(data)
            
            var obj = JSON.parse(data);
            for (var i = 0; i < obj.length; i++) {
                var li = document.createElement('li');
               
                console.log(obj[i].FilePath);
                
                li.innerHTML = '<a href = "'+obj[i].FilePath+'" style = "color:#3e3a39;margin-left: 5px;" target="_blank"> ' + obj[i].FileName+'</a>';
                document.getElementById("bffiles").appendChild(li)
            }
    });
    $.get("/Common/GetApproveProcessingInfo", { oid: @ViewBag.pid, apid: "3"}, function (data) {
        var obj = JSON.parse(data);
        console.log(obj);
        if(obj.length==0)
            return;
        var pdepart = obj[0].pname;
        var dechtm = "";
        var passhtm = "";
        var htm = '<h4 class="cp01"><span></span>' + pdepart + '</h4><ul>';//<li><span class="yj06">' + obj[0].name + '</span> <span class="yj02">' + obj[0].username + '</span> <span class="yj03">' + obj[0].dd +'</span> <span class="yj04">提交申请</span></li >';
        var hstyle = 'cp01'; //cp02
        var ulstyle= 'uc01'; //uc02
        for (var i = 0; i < obj.length; i++) {
            var o = obj[i];
            if(i==0){
                htm+='<li class="li-blue2"><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span> <span class="yj03">' + o.dd + '</span> <span class="yj04">提交申请</span></div></li >'
                continue;
            }
            if (o.pname == pdepart) {
                if (o.approved == 2) {
                    if(o.comment!=""){
                        passhtm += '<h3>' + o.name + ' <i>' + o.username + '</i> <span>' + o.dd + '</span></h3><p class="passbjg"  id="comlenght" > '+ o.comment + '</p >'
                    }
                    htm += '<li class="li-blue2"><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span> <span class="yj03">' + o.dd + '</span> <span class="yj04">同意</span></div></li >'
                }
                else if (o.approved == 3) {
                    dechtm = '<h3>' + o.name + ' <i>' + o.username + '</i> <span>' + o.dd + '</span></h3><p class="bjg" > '+ o.comment + '</p >'+dechtm
                    hstyle = 'cp02'
                    ulstyle = 'uc02'
                    htm += '<li ><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span> <span class="yj03">' + o.dd + '</span> <span class="yj05">驳回</span></div></li >'
                } else {
                    hstyle = 'cp02'
                    ulstyle = 'uc02'
                    htm += '<li><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span></div></li >'
                }
            }
            else {
                htm += '</ul>';
                pdepart = o.pname;
                htm += '<h4 class="' + hstyle + '"><span></span>' + pdepart + '</h4>';
                if (o.approved == 2) {
                    if(o.comment!=""){
                        passhtm += '<h3>' + o.name + ' <i>' + o.username + '</i> <span>' + o.dd + '</span></h3><p class="passbjg" id="comlenght" > '+ o.comment + '</p >'
                    }
                    htm += '<ul class="' + ulstyle + '"><li class="li-blue2"><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span> <span class="yj03">' + o.dd + '</span> <span class="yj04">同意</span></div></li >'
                }
                else if (o.approved == 3) {
                    dechtm += '<h3>' + o.name + ' <i>' + o.username + '</i> <span>' + o.dd + '</span></h3><p class="bjg" > '+ o.comment + '</p >'
                    hstyle = 'cp02'
                    ulstyle = 'uc02'
                    htm += '<ul class="' + ulstyle + '"><li><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span> <span class="yj03">' + o.dd + '</span> <span class="yj05">驳回</span></div></li >'
                } else {
                    hstyle = 'cp02'
                    ulstyle = 'uc02'
                    htm += '<ul class="' + ulstyle + '"><li><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span></div></li >'
                }
            }
        }
        htm += '</ul><h4 class="' + hstyle + '"><span></span>结束</h4>';
        $("#transferInfo").html(htm);
        $("#declineInfo").html(dechtm);
        $("#passlineInfo").html(passhtm);
        var comlenght = $('#passlineInfo').children('p').length
        $(".js-feed-count").html(comlenght);

        if ($("#passlineInfo").html() == "") {
            $(".feedback-item.js-myattend").hide()
        } else {
            $(".feedback-item.js-myattend").show()
        }

        if ($("#declineInfo").html() == "") {
            $(".feedback-item.decfeedback-item").hide()
        } else {
            $(".feedback-item.decfeedback-item").show()
        }
        })
</script>
