
@{
    ViewBag.Title = "招标文件详情";
}



<link rel="stylesheet" href="~/css/icheck/minimal/minimal.css" />
<link rel="stylesheet" href="~/css/sweetalert/sweetalert.css" />
<link rel="stylesheet" href="~/css/style.css" />
<style>
        .submenu {
        display: none;
        font-size: 14px;
    }

        .submenu dl {
            background: #f2f2f2;
            padding: 20px;
            margin-bottom: 20px;
            overflow: hidden;
        }

            .submenu dl dt {
                width: 120px;
                float: left;
                line-height: 100%;
                height: 100%;
                color: #999;
            }

            .submenu dl dd {
                margin-left: 80px;
                line-height: 24px;
                text-align: justify;
            }
                .canvas {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, .6);
        z-index: 9999;
        display: none;
    }

        .canvas .canvas_content {
            width: 790px;
            height: 530px;
            background: #fff;
            position: absolute;
            top:50%;
            left:50%;
            margin-top: -240px;
            margin-left: -350px;
            border: 1px solid #008cd6;
        }

        .canvas h3 {
            height: 45px;
            padding-left: 20px;
            background: #eaf6fd;
            line-height: 45px;
            font-size: 18px;
            font-weight: normal;
            color: #008cd6;
        }

        .canvas .canvas_close {
            display: inline-block;
            width: 35px;
            height: 35px;
            font-size: 30px;
            color: #008cd6;
            top: 0;
            text-align: center;
            cursor: pointer;
            position: absolute;
            right: 10px;
        }

    .canvas_content_text {
        width: 100%;
        height: 50%;
        margin-top: 35px;
    }

        .canvas_content_text ul li {
            padding: 5px 10px;
            margin-left: 40px;
            color: #999;
            position: relative;
        }

            .canvas_content_text ul li ul li {
                margin-left: 90px;
            }

            .canvas_content_text ul li textarea {
                height: 185px;
                border-radius: 5px;
                border: 1px solid #d7d7d7;
                width: 585px;
                resize: none;
                margin-left: 10px;
                padding: 10px;
                line-height: 20px;
                text-align: justify;
            }

            .canvas_content_text ul li input[type="text"] {
                -web-kit-appearance: none;
                -moz-appearance: none;
                width: 120px;
                height: 25px;
                border: 1px solid #c8cccf;
                border-radius: 5px;
                color: #6a6f77;
                outline: 0;
                padding-left: 5px;
            }

                .canvas_content_text ul li input[type="text"].input3 {
                    width: 50px;
                }

            .canvas_content_text ul li i {
                color: #ff0000;
                line-height: 25px;
                padding-right: 5px;
                vertical-align: middle;
                display: inline-block;
                font-style: normal;
            }

            .canvas_content_text ul li span {
                display: inline-block;
                width: 80px;
                text-align: left;
                float: left
            }

            .canvas_content_text ul li .upload {
                position: relative;
                display: inline-block;
                text-align: center;
                color: #ffffff;
                width: 70px;
                height: 30px;
                line-height: 30px;
                background-color: #008bd6;
                border-radius: 3px;
            }

                .canvas_content_text ul li .upload input[type="text"] {
                    opacity: 0;
                    position: absolute;
                    left: 0;
                }

    .canvas_btn {
        text-align: center;
        padding-top: 100px;
    }

    .canvas-fj {
        padding-left: 5px;
        display: inline-block;
        font-size: 14px;
        color: #bfbdba;
    }
</style>
<div class="left-nav">
    <div class="left-nav-con">
        <h1>招标内容</h1>
        <ul class="left-nav-list">
            <li><a href="/Projects" class="active"><i class="icon icon-eye1"></i>内容列表</a></li>
        </ul>
    </div>
</div>

<div class="main-con">
    <div class="main-wrap">
        <div class="main-top top-bottom">

            <span class="js-page-name">招标文件详情</span>
            <div class="apply-opt">
                <a href="javascript:;" class="js-cancle-meet chehui" title="撤回" onclick="drawback()" hidden>
                    <i class="meet-icon icon-cancel">撤回</i>
                </a>
                <a href='javascript:;' class='js-cancle-meet shanchu' title='删除' onclick="deleteApplication()" hidden>
                    <i class='meet-icon icon-cancel icon-sc' style="background-color:#ff0000">删除</i>
                </a>
                <a href='#' class='js-cancle-meet' title='导出' id="exportbtn" onclick="printDiv()" hidden>
                    <i class='meet-icon icon-cancel icon-dc'>导出</i>
                </a>
                @Html.Raw(ViewBag.moretime)
                <a href='#' onclick="window.history.go(-1)" class="js-cancle-meet" title="返回">
                    <i class="meet-icon icon-del icon-tb">返回</i>
                </a>
            </div>
        </div>

 <!--发标文件申请-->
        <div class="canvas" id="bidfileapplylayer">
            <div class="canvas_content">
                <span class="canvas_close">×</span>
                <h3>招标文件申请</h3>
                <div class="canvas_content_text">
                    <ul>
                        <li>
                            <span>招标文件<br>内容简述</span> <textarea id="bfcontent" placeholder="招标文件简述、主要工程量、预计合同金额" onfocus="if (placeholder == '招标文件简述、主要工程量、预计合同金额') { placeholder = '' }" onblur="if (value=='' ) { placeholder='招标文件简述、主要工程量、预计合同金额' }"></textarea>
                            <p class="textinfo" style="color:red;padding-left:90px;display:none;">请简述招标文件内容！</p>
                        </li>
                        <li>
                            <i><img src="~/img/icon-fj.png" alt=""></i><span style="float:none">招标文件</span>
                            @*<input type="file" class="allfileInput allfileInput2" name="fileInput" id="allfileInput" style="cursor: pointer;left:113px;">*@
                            <form id='bfupform' name='bfupform' method="post" target='frameFile' action="/Common/FileUpload" enctype="multipart/form-data" class="allfileInput allfileInput2" style="cursor: pointer;left:100px;background:transparent">
                                <img src="~/img/icon-03.png" alt="" class="up up2" style="position:absolute;vertical-align: middle">
                                <input type='file' id='bfup' name='bfup' value="IamPic" style="position:absolute; -moz-opacity:0;-khtml-opacity: 0;opacity: 0;" />
                                <input type="text" id="pid" name="pid" width="20" value="@ViewBag.pid" hidden />
                                <input type="text" id="ftype" name="ftype" width="20" value="2" hidden />
                                <input type="text" id="comment" name="comment" width="20" value="" hidden />
                            </form>

                        </li>
                        <li>
                            <ul id="bffiles"></ul>
                        </li>
                    </ul>
                </div>
                <div class="canvas_btn">
                    <a href="#" class="meet-btn big-btn lightblue-btn subm" onclick="bidfileSubmit(1)">提交</a>
                    <a href="#" class="meet-btn big-btn gray-btn backcolse-btn">返回</a>
                </div>
            </div>
        </div>

        <div class="wc-container  ccata">
            <div class="detail-wrap detail-con">
                <div class="block-left block-left2 block-left4" id="printArea">
                    <table class="meet-form meet-form8">
                        <tbody>
                            <tr class="form-tr form-tr-title-bg">
                                <td>
                                    <h2>@ViewBag.BidFileName</h2>
                                </td>
                            </tr>
                            <tr class="form-tr">
                                <td><div class="art-tit"><span>提交人：</span>@ViewBag.BidFileUserName <span>发布时间：</span> @ViewBag.BidFilePublishDate</div></td>
                            </tr>
                            <tr class="form-tr">
                                <td><h3>招标内容介绍</h3></td>
                            </tr>
                            <tr class="form-tr">
                                <td class="art-con">
                                    @Html.Raw(ViewBag.ProDescription)
                                </td>
                            </tr>
                            <tr class="form-tr">
                                <td><h3>招标文件简述</h3></td>
                            </tr>
                            <tr class="form-tr">
                                <td class="art-con">
                                    @Html.Raw(ViewBag.BidFileContent)
                                </td>
                            </tr>
                            <tr>
                                <td class="download">
                                    @Html.Raw(ViewBag.Fujian)
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <div  class="meet-form meet-form8" style="border:0px;margin-top:23px" id="procs"  hidden>
                        <span style="text-align:center;font-size:24px;color:deepskyblue;">审批记录</span>
                        <table class="meet-form meet-form8" id="printTab">
                        </table>
                    </div>
                </div>

                <div class="block-right block-right2">
                    <div class="block-right-wrap">
                        <div class="block-rigt">
                            <div class="detail-user2">
                                <a class="meet-btn2 medium-btn">审核意见</a>
                                <a class="meet-btn2 medium-btn active">流转信息</a>
                            </div>
                            <div class="detail-user-list2 right-ss" style="min-height:215px;overflow: auto;">
                                <div class="meet-user-span2" style="display: none;">
                                    <div class="feedback-con feedback-con2">
                                        <div class="feedback-item decfeedback-item">
                                            <div class="feedback-item-title">
                                                <i class="meet-icon icon-message-on"></i>
                                                驳回理由
                                            </div>
                                            <ul class="feedback-list feedback-admin">
                                                <li id="declineInfo"></li>
                                            </ul>
                                        </div>
                                        <div class="feedback-item js-myattend">
                                            <div class="feedback-item-title">
                                                <i class="meet-icon icon-message"></i>
                                                共<span class="js-feed-count"></span>条回复消息
                                            </div>
                                            <ul class="feedback-list feedback-users">
                                                <li id="passlineInfo"></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div id="transferInfo" class="meet-user-span2" style="display: block;">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="~/js/jquery-1.11.0.js"></script>
<script type="text/javascript" src="~/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="~/js/sweetalert/sweetalert.min.js"></script>
<script type="text/javascript" src="~/js/validate/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/js/validate/messages_zh.min.js"></script>
<script type="text/javascript" src="~/js/icheck/icheck.min.js"></script>
<script src="~/Scripts/jquery.form.js"></script>
<script type="text/javascript" src="~/js/js.js"></script>
<script type="text/javascript">
    var status = getQueryString('status');
    if (status == "0")
        $(".chehui").hide();
    else {
        $.post('/Common/GetDrawbackStatus_submiter', { objid: @ViewBag.pid, appid: 2 }, function (res) {
            if (res == "yes")
                $(".chehui").show();
            else
                $(".chehui").hide();
        });
    }
    function drawback() {
        $.post('/Common/Drawback_submiter', { objid: @ViewBag.pid, appid: 2 }, function (res) {
            window.location.assign('/Projects/Detail?pid=@ViewBag.pid')
        });
    }
    function printDiv() {
        $('#procs').show();
        var printData = document.getElementById("printArea").innerHTML;
        var oldstr = document.body.innerHTML;
        document.body.innerHTML = printData;
        window.print();
        document.body.innerHTML = oldstr;   //保持原页面格式
        $('#procs').hide();
    }
    $(function () {
        pages(1, 2, 12, 5)

        $.get("/Common/GetApproveProcessingInfo", { oid: @ViewBag.pid, apid: "2"}, function (data) {
            var obj = JSON.parse(data);
            console.log(obj)
            if(obj.length==0)
                return;
            var pdepart = obj[0].pname;
            var printPro = '<tr><td colspan = "5">' + pdepart + '</td ></tr>';
            var dechtm = "";
            var passhtm = "";
            var htm = '<h4 class="cp01"><span></span>' + pdepart + '</h4><ul>';//<li><span class="yj06">' + obj[0].name + '</span> <span class="yj02">' + obj[0].username + '</span> <span class="yj03">' + obj[0].dd +'</span> <span class="yj04">提交申请</span></li >';
            var hstyle = 'cp01'; //cp02
            var ulstyle= 'uc01'; //uc02
            for (var i = 0; i < obj.length; i++) {
                var o = obj[i];
                
                if(i==0){
                    htm += '<li class="li-blue2"><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span> <span class="yj03">' + o.dd + '</span> <span class="yj04">提交申请</span></div></li >'
                    printPro += '<tr><td width="20%" style="border:0px;text-align:center;vertical-align:central">' + o.name + '</td>' +
                        '<td width = "12%" style = "border:0px;text-align:center;vertical-align:central">' + o.username + '</td>' +
                        '<td width="25%" style="border:0px;text-align:center;vertical-align:central">' + o.dd + '</td>' +
                        '<td width="12%" style="border:0px;text-align:center;vertical-align:central"><span style="color:deepskyblue">提交申请</span></td>' +
                        '<td width="30%" style="border:0px;text-align:center;padding:0px;vertical-align:central"><img src="/sigs/' + o.sigfile + '" style="height:80px;width:150px; margin:0px"></td></tr>';
                    continue;
                }
                printPro += '<tr><td width="20%" style="border:0px;text-align:center;vertical-align:central">' + o.name + '</td>' +
                    '<td width = "12%" style = "border:0px;text-align:center;vertical-align:central">' + o.username + '</td>' +
                    '<td width="25%" style="border:0px;text-align:center;vertical-align:central">' + o.dd + '</td>' +
                    '<td width="12%" style="border:0px;text-align:center;vertical-align:central"><span style="color:deepskyblue">同意</span></td>' +
                    '<td width="30%" style="border:0px;text-align:center;padding:0px;vertical-align:central"><img src="/sigs/' + o.sigfile + '" style="height:80px;width:150px; margin:0px"></td></tr>';
                if (o.pname == pdepart) {
                    if (o.approved == 2) {
                        if(o.comment!=""){
                            passhtm += '<h3>' + o.name + ' <i>' + o.username + '</i> <span>' + o.dd + '</span></h3><p class="passbjg"  id="comlenght" > '+ o.comment + '</p >'
                        }
                        htm += '<li class="li-blue2"><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span> <span class="yj03">' + o.dd + '</span> <span class="yj04">同意</span></div></li >'
                    }
                    else if (o.approved == 3) {
                        dechtm = '<h3>' + o.name + ' <i>' + o.username + '</i> <span>' + o.dd + '</span></h3><p class="bjg" > '+ o.comment + '</p >'+dechtm
                        hstyle = 'cp02'
                        ulstyle = 'uc02'
                        htm += '<li ><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span> <span class="yj03">' + o.dd + '</span> <span class="yj05">驳回</span></div></li >'
                    } else {
                        hstyle = 'cp02'
                        ulstyle = 'uc02'
                        htm += '<li><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span></div></li >'
                    }
                }
                else {
                    htm += '</ul>';
                    pdepart = o.pname;
                    htm += '<h4 class="' + hstyle + '"><span></span>' + pdepart + '</h4>';
                    if (o.approved == 2) {
                        if(o.comment!=""){
                            passhtm += '<h3>' + o.name + ' <i>' + o.username + '</i> <span>' + o.dd + '</span></h3><p class="passbjg" id="comlenght" > '+ o.comment + '</p >'
                        }
                        htm += '<ul class="' + ulstyle + '"><li class="li-blue2"><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span> <span class="yj03">' + o.dd + '</span> <span class="yj04">同意</span></div></li >'
                    }
                    else if (o.approved == 3) {
                        dechtm += '<h3>' + o.name + ' <i>' + o.username + '</i> <span>' + o.dd + '</span></h3><p class="bjg" > '+ o.comment + '</p >'
                        hstyle = 'cp02'
                        ulstyle = 'uc02'
                        htm += '<ul class="' + ulstyle + '"><li><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span> <span class="yj03">' + o.dd + '</span> <span class="yj05">驳回</span></div></li >'
                    } else {
                        hstyle = 'cp02'
                        ulstyle = 'uc02'
                        htm += '<ul class="' + ulstyle + '"><li><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span></div></li >'
                    }
                }
            }
            htm += '</ul><h4 class="' + hstyle + '"><span></span>结束</h4>';
            $('#printTab').html(printPro)
            $("#transferInfo").html(htm);
            $("#declineInfo").html(dechtm);
            $("#passlineInfo").html(passhtm);
            var comlenght = $('#passlineInfo').children('p').length
            $(".js-feed-count").html(comlenght);

            if ($("#passlineInfo").html() == "") {
                $(".feedback-item.js-myattend").hide()
            } else {
                $(".feedback-item.js-myattend").show()
            }

            if ($("#declineInfo").html() == "") {
                $(".feedback-item.decfeedback-item").hide()
            } else {
                $(".feedback-item.decfeedback-item").show()
            }
        })
    });
    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg); //获取url中"?"符后的字符串并正则匹配
        var context = "";
        if (r != null)
            context = r[2];
        reg = null;
        r = null;
        return context == null || context == "" || context == "undefined" ? "" : context;
    }
    $(function () {
        
        if (status == "2" || @ViewBag.RoleId != 2) {
            $(".shanchu").hide();
        }
        else {
            $(".shanchu").show();
        }
        if (status != "2") {
            $('#exportbtn').hide()
        }
        else {
            $('#exportbtn').show()
        }
        $("#bfup").change(function () {
            if($("#bfup").val()==""){
                return;
            }
            $("#bfupform").ajaxSubmit(function (res) {

                var names = res.split('|')
                var li = document.createElement("li");
                li.id = names[0].trim()
                li.innerHTML = names[1] + '<a href = "#" style = "color: #008cd6;margin-left: 5px;" onclick="deleteFile(\'' + names[0].trim() + '\')" > 删除</a>'
                document.getElementById("bffiles").appendChild(li);
                $("#bfup").val("");
            });
        })
    })
        function deleteApplication() {
        swal({
                title: '确定删除该申请？',
                text: '你将无法撤回！',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '确定删除！'
            }).then(
        function (cc) {
            if (cc.dismiss != "cancel") {
                swal( '成功！', '您以删除该申请。', 'success');
                $.post("/BidingFile/DeleteApplication", { pid: @ViewBag.pid }, function () {
                    window.history.go(-1);
                })
            }
        })
    }
    function bidfileSubmit(ss) {
        var bfc = $("#bfcontent").val();
        if(bfc==""){
            $(".textinfo").css("display","block")
            return;
        }else{
            $(".textinfo").css("display","none")
        }
        var pid =@ViewBag.pid;
        data = { content: bfc, pid: pid, status: ss }
        $.post("/Projects/ReapplyBidFile", data, function (res) {

            swal('提交成功！');
            $("#bidfileapplylayer").hide();
            $("#bfcontent").val("");
            $("#bffiles").html("");
            $(".textinfo").css("display","none")
            window.location.href = "/Projects/Detail?pid="+pid;
        })
    }
    function deleteFile(name) {
        var li = document.getElementById(name)
        li.parentNode.removeChild(li);
        $.post("/Common/FileDelete", { fname: name }, function () {});
    }

    $(".canvas_close").on("click", function () {
        $("#bidfileapplylayer").hide();
        $("#bfcontent").val("");
        $("#bffiles").html("");
        $(".canvas").hide();
        $(".textinfo").css("display","none")
    })
    $(".backcolse-btn").on("click", function () {
        $("#bidfileapplylayer").hide();
        $("#bfcontent").val("");
        $("#bffiles").html("");
        $(".canvas").hide();
        $(".textinfo").css("display","none")
    })


    function bidApply() {
        $("#bidapplylayer").show();
        $.get("/Projects/GetBidInfo?pid=@ViewBag.pid", function (data) {
            var obj = JSON.parse(data);
            $("#applydate").html(obj.applydate)
            $("#opendate").html(obj.opendate)
            $("#bidingnum").html(obj.bidingnum)
        });
        $.get("/Projects/GetFiles?pid=@ViewBag.pid&ftype=2", function (data) {
            var obj = JSON.parse(data);
            for (var i = 0; i < obj.length; i++) {
                var li = document.createElement('li');
                li.id = obj[i].fid;
                li.innerHTML = obj[i].FileName + '<a href = "#" style = "color: #008cd6;margin-left: 5px;" onclick="deleteFile(\'' + obj[i].fid + '\')" > 删除</a>';
                document.getElementById("bffiles").appendChild(li)
            }
        });
    }
    function bidFileApply() {
        $("#bidfileapplylayer").show();
        $.get("/Projects/GetBidFileInfo?pid=@ViewBag.pid", function (data) {
            $("#bfcontent").html(data)
        });
        $.get("/Projects/GetFiles?pid=@ViewBag.pid&ftype=2", function (data) {
            //$("#bffiles").html(data);
            var obj = JSON.parse(data);
            for (var i = 0; i < obj.length; i++) {
                var li = document.createElement('li');
                li.id = obj[i].fid;
                li.innerHTML = obj[i].FileName + '<a href = "#" style = "color: #008cd6;margin-left: 5px;" onclick="deleteFile(\'' + obj[i].fid + '\')" > 删除</a>';
                document.getElementById("bffiles").appendChild(li)
            }
        });
    }
</script>

