
@{
    ViewBag.Title = "招标文件详情";
}



<link rel="stylesheet" href="~/css/icheck/minimal/minimal.css" />
<link rel="stylesheet" href="~/css/sweetalert/sweetalert.css" />
<link rel="stylesheet" href="~/css/style.css" />

<div class="left-nav">
    <div class="left-nav-con">
        <h1>项目管理</h1>
        <ul class="left-nav-list">
            <li><a href="/Projects" class="active"><i class="icon icon-eye1"></i>项目列表</a></li>
        </ul>
    </div>
</div>

<div class="main-con">
    <div class="main-wrap">
        <div class="main-top top-bottom">

            <span class="js-page-name">招标文件详情</span>
            <div class="apply-opt">
                @*<a href="javascript:;" class="js-cancle-meet" title="驳回">
                    <i class="meet-icon icon-cancel icon-bh">驳回</i>
                </a>*@
                <a href='#' onclick="window.history.go(-1)" class="js-cancle-meet" title="返回">
                    <i class="meet-icon icon-del icon-tb">返回</i>
                </a>
            </div>
        </div>
        <div class="wc-container  ccata">
            <div class="detail-wrap detail-con">
                <div class="block-left block-left2 block-left4">
                    <table class="meet-form meet-form8">
                        <tbody>
                            <tr class="form-tr form-tr-title-bg">
                                <td>
                                    <h2>@ViewBag.BidFileName</h2>
                                </td>
                            </tr>
                            <tr class="form-tr">
                                <td><div class="art-tit"><span>发布人：</span>@ViewBag.BidFileUserName <span>发布时间：</span> @ViewBag.BidFilePublishDate</div></td>
                            </tr>
                            <tr class="form-tr">
                                <td><h3>招标文件内容简述</h3></td>
                            </tr>
                            <tr class="form-tr">
                                <td class="art-con">
                                    @Html.Raw(ViewBag.BidFileContent)
                                </td>
                            </tr>
                            <tr>
                                <td class="download">
                                    <div class="fujian"><i class="meet-icon icon-file"></i></div>
                                    <div class="cc">
                                        <ul>
                                            <li>温州市域铁路S1线轨道区间Ⅱ标.doc <div><a href="">下载</a>&nbsp;&nbsp;1.2M</li>
                                            <li>温州市域铁路S1线轨道区间Ⅱ标.doc <div><a href="">下载</a>&nbsp;&nbsp;1.2M</li>
                                            <li>温州市域铁路S1线轨道区间Ⅱ标.doc <div><a href="">下载</a>&nbsp;&nbsp;1.2M</li>
                                        </ul>  
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="block-right block-right2">
                    <div class="block-right-wrap">
                        <div class="right-block">
                            <div class="right-block-title">
                                <div class="feedback-area-head">
                                    <i class="meet-icon icon-message-opt"></i>
                                    <span class="right-block-title">请输入您的驳回理由：</span>
                                </div>
                            </div>
                            <div class="feedback-area-wrap">
                                <div class="feedback-area-con">
                                    <textarea name="reasons" style="min-height: 50px;" id="feedback-area" placeholder="请输入"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="deal-apply-btn deal-apply-btn2">
                            <a class="meet-btn big-btn blue-btn js-deal green-btn blue-btn2">通过申请</a>

                        </div>

                        <div class="block-rigt">
                            <div class="detail-user2">
                                <a class="meet-btn2 medium-btn">审核意见</a>
                                <a class="meet-btn2 medium-btn active">流转信息</a>
                            </div>
                            <div class="detail-user-list2 right-ss" style="min-height:215px;overflow: auto;">
                                <div class="meet-user-span2" style="display: none;">
                                    <div class="feedback-con feedback-con2">
                                        <div class="feedback-item">
                                            <div class="feedback-item-title">
                                                <i class="meet-icon icon-message-on"></i>
                                                驳回理由
                                            </div>
                                            <ul class="feedback-list feedback-admin">
                                                <li id="declineInfo">
                                                    @*<h3>经管部 <i>李小龙</i> <span>2018-5-15 8:45</span></h3>
                                                    <p class="bjg">业绩信息不合格，请重新上传</p>*@
                                                </li>
                                            </ul>
                                        </div>
                                        <!--<div class="feedback-item js-myattend">-->
                                        <!--<div class="feedback-item-title">-->
                                        <!--<i class="meet-icon icon-message"></i>-->
                                        <!--共<span class="js-feed-count">4</span>条回复消息-->
                                        <!--</div>-->
                                        <!--<ul class="feedback-list feedback-users">-->
                                        <!--<li><h3>经管部 <i>李小龙</i> <span>2018-5-15 8:45</span></h3>-->
                                        <!--<p>资料合格，同意</p></li>-->
                                        <!--</ul>-->
                                        <!--</div>-->
                                    </div>
                                </div>
                                <div id="transferInfo" class="meet-user-span2" style="display: block;">
                                    @*<h4 class="cp01"><span></span>指挥部</h4>
                                    <ul>
                                        <li><span class="yj06">计划合同部</span><span class="yj02">马晓华</span><span class="yj03">2017-04-22 22:00</span> <span class="yj04">提交申请</span></li>
                                        <li><span class="yj06">副经理</span><span class="yj02">张兵</span><span class="yj03">2017-04-22 22:00</span> <span class="yj04">同意</span></li>
                                    </ul>
                                    <h4><span></span>管理员</h4>
                                    <ul>
                                        <li><span class="yj02">马晓华</span><span class="yj03">2017-04-22 22:00</span> <span class="yj05">驳回</span></li>

                                    </ul>
                                    <h4 class="cp02"><span></span>轨道公司</h4>
                                    <ul class="uc02">
                                        <li><span class="yj01">计划合同部</span></li>
                                        <li><span class="yj01">财务室</span></li>
                                    </ul>
                                    <h4 class="cp02"><span></span>结束</h4>*@
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="~/js/jquery-1.11.0.js"></script>
<script type="text/javascript" src="~/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="~/js/sweetalert/sweetalert.min.js"></script>
<script type="text/javascript" src="~/js/validate/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/js/validate/messages_zh.min.js"></script>
<script type="text/javascript" src="~/js/icheck/icheck.min.js"></script>
<script type="text/javascript" src="~/js/js.js"></script>
<script type="text/javascript">
    $(function () {
        pages(1, 2, 12, 5)

        $.get("/Projects/GetApproveProcessingInfo", { pid: @ViewBag.pid}, function (data) {
            var obj = JSON.parse(data);
            console.log(obj);
            if(obj.length==0)
                return;
            var pdepart = obj[0].pname;
            var dechtm = "";
            var htm = '<h4 class="cp01"><span></span>' + pdepart + '</h4><ul>';//<li><span class="yj06">' + obj[0].name + '</span> <span class="yj02">' + obj[0].username + '</span> <span class="yj03">' + obj[0].dd +'</span> <span class="yj04">提交申请</span></li >';
            var hstyle = 'cp01'; //cp02
            var ulstyle= 'uc01'; //uc02
            for (var i = 0; i < obj.length; i++) {
                var o = obj[i];
                if (o.pname == pdepart) {
                    if (o.approved == 2) {
                        htm += '<li class="li-blue2"><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span> <span class="yj03">' + o.dd + '</span> <span class="yj04">同意</span></div></li >'
                    }
                    else if (o.approved == 3) {
                        dechtm = '<h3><i class="meet-icon icon-message-on"></i>' + o.name + ' <i>' + o.username + '</i> <span>' + o.dd + '</span></h3><p class="bjg" > ' + o.comment + '</p >'
                        hstyle = 'cp02'
                        ulstyle = 'uc02'
                        htm += '<li ><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span> <span class="yj03">' + o.dd + '</span> <span class="yj05">驳回</span></div></li >'
                    } else {
                        hstyle = 'cp02'
                        ulstyle = 'uc02'
                        htm += '<li><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span></div></li >'
                    }
                }
                else {
                    htm += '</ul>';
                    pdepart = o.pname;
                    htm += '<h4 class="' + hstyle + '"><span></span>' + pdepart + '</h4>';
                    if (o.approved == 2) {
                        htm += '<ul class="' + ulstyle + '"><li class="li-blue2"><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span> <span class="yj03">' + o.dd + '</span> <span class="yj04">同意</span></div></li >'
                    }
                    else if (o.approved == 3) {
                        dechtm = '<h3><i class="meet-icon icon-message-on"></i>' + o.name + ' <i>' + o.username + '</i> <span>' + o.dd + '</span></h3><p class="bjg" > ' + o.comment + '</p >'
                        hstyle = 'cp02'
                        ulstyle = 'uc02'
                        htm += '<ul class="' + ulstyle + '"><li><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span> <span class="yj03">' + o.dd + '</span> <span class="yj05">驳回</span></div></li >'
                    } else {
                        hstyle = 'cp02'
                        ulstyle = 'uc02'
                        htm += '<ul class="' + ulstyle + '"><li><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span></div></li >'
                    }
                }
            }
            htm += '</ul><h4 class="' + hstyle + '"><span></span>结束</h4>';
            $("#transferInfo").html(htm);
            $("#declineInfo").html(dechtm);
        })
    });
</script>

