
@{
    ViewBag.Title = "招标文件详情";
}



<link rel="stylesheet" href="~/css/icheck/minimal/minimal.css" />
<link rel="stylesheet" href="~/css/sweetalert/sweetalert.css" />
<link rel="stylesheet" href="~/css/style.css" />

<div class="left-nav">
    <div class="left-nav-con">
        <h1>招标内容</h1>
        <ul class="left-nav-list">
            <li><a href="/Projects" class="active"><i class="icon icon-eye1"></i>内容列表</a></li>
        </ul>
    </div>
</div>

<div class="main-con">
    <div class="main-wrap">
        <div class="main-top top-bottom">

            <span class="js-page-name">招标文件详情</span>
            <div class="apply-opt">
                @*<a href="javascript:;" class="js-cancle-meet" title="驳回">
                    <i class="meet-icon icon-cancel icon-bh">驳回</i>
                </a>*@
                <a href='#' onclick="window.history.go(-1)" class="js-cancle-meet" title="返回">
                    <i class="meet-icon icon-del icon-tb">返回</i>
                </a>
            </div>
        </div>
        <div class="wc-container  ccata">
            <div class="detail-wrap detail-con">
                <div class="block-left block-left2 block-left4">
                    <table class="meet-form meet-form8">
                        <tbody>
                            <tr class="form-tr form-tr-title-bg">
                                <td>
                                    <h2>@ViewBag.BidFileName</h2>
                                </td>
                            </tr>
                            <tr class="form-tr">
                                <td><div class="art-tit"><span>提交人：</span>@ViewBag.BidFileUserName <span>发布时间：</span> @ViewBag.BidFilePublishDate</div></td>
                            </tr>
                            <tr class="form-tr">
                                <td><h3>工程介绍</h3></td>
                            </tr>
                            <tr class="form-tr">
                                <td class="art-con">
                                    @Html.Raw(ViewBag.ProDescription)
                                </td>
                            </tr>
                            <tr class="form-tr">
                                <td><h3>招标文件内容简述</h3></td>
                            </tr>
                            <tr class="form-tr">
                                <td class="art-con">
                                    @Html.Raw(ViewBag.BidFileContent)
                                </td>
                            </tr>
                            <tr>
                                <td class="download">
                                    @Html.Raw(ViewBag.Fujian)
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="block-right block-right2">
                    <div class="block-right-wrap">
                        <div class="block-rigt">
                            <div class="detail-user2">
                                <a class="meet-btn2 medium-btn">审核意见</a>
                                <a class="meet-btn2 medium-btn active">流转信息</a>
                            </div>
                            <div class="detail-user-list2 right-ss" style="min-height:215px;overflow: auto;">
                                <div class="meet-user-span2" style="display: none;">
                                    <div class="feedback-con feedback-con2">
                                        <div class="feedback-item decfeedback-item">
                                            <div class="feedback-item-title">
                                                <i class="meet-icon icon-message-on"></i>
                                                驳回理由
                                            </div>
                                            <ul class="feedback-list feedback-admin">
                                                <li id="declineInfo"></li>
                                            </ul>
                                        </div>
                                        <div class="feedback-item js-myattend">
                                            <div class="feedback-item-title">
                                                <i class="meet-icon icon-message"></i>
                                                共<span class="js-feed-count"></span>条回复消息
                                            </div>
                                            <ul class="feedback-list feedback-users">
                                                <li id="passlineInfo"></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div id="transferInfo" class="meet-user-span2" style="display: block;">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="~/js/jquery-1.11.0.js"></script>
<script type="text/javascript" src="~/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="~/js/sweetalert/sweetalert.min.js"></script>
<script type="text/javascript" src="~/js/validate/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/js/validate/messages_zh.min.js"></script>
<script type="text/javascript" src="~/js/icheck/icheck.min.js"></script>
<script type="text/javascript" src="~/js/js.js"></script>
<script type="text/javascript">
    $(function () {
        pages(1, 2, 12, 5)

        $.get("/Common/GetApproveProcessingInfo", { oid: @ViewBag.pid, apid: "2"}, function (data) {
            var obj = JSON.parse(data);
            console.log(obj);
            if(obj.length==0)
                return;
            var pdepart = obj[0].pname;
            var dechtm = "";
            var passhtm = "";
            var htm = '<h4 class="cp01"><span></span>' + pdepart + '</h4><ul>';//<li><span class="yj06">' + obj[0].name + '</span> <span class="yj02">' + obj[0].username + '</span> <span class="yj03">' + obj[0].dd +'</span> <span class="yj04">提交申请</span></li >';
            var hstyle = 'cp01'; //cp02
            var ulstyle= 'uc01'; //uc02
            for (var i = 0; i < obj.length; i++) {
                var o = obj[i];
                if (o.pname == pdepart) {
                    if (o.approved == 2) {
                        if(o.comment!=""){
                            passhtm += '<h3>' + o.name + ' <i>' + o.username + '</i> <span>' + o.dd + '</span></h3><p class="passbjg"  id="comlenght" > '+ o.comment + '</p >'
                        }
                        htm += '<li class="li-blue2"><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span> <span class="yj03">' + o.dd + '</span> <span class="yj04">同意</span></div></li >'
                    }
                    else if (o.approved == 3) {
                        dechtm = '<h3>' + o.name + ' <i>' + o.username + '</i> <span>' + o.dd + '</span></h3><p class="bjg" > '+ o.comment + '</p >'+dechtm
                        hstyle = 'cp02'
                        ulstyle = 'uc02'
                        htm += '<li ><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span> <span class="yj03">' + o.dd + '</span> <span class="yj05">驳回</span></div></li >'
                    } else {
                        hstyle = 'cp02'
                        ulstyle = 'uc02'
                        htm += '<li><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span></div></li >'
                    }
                }
                else {
                    htm += '</ul>';
                    pdepart = o.pname;
                    htm += '<h4 class="' + hstyle + '"><span></span>' + pdepart + '</h4>';
                    if (o.approved == 2) {
                        if(o.comment!=""){
                            passhtm += '<h3>' + o.name + ' <i>' + o.username + '</i> <span>' + o.dd + '</span></h3><p class="passbjg" id="comlenght" > '+ o.comment + '</p >'
                        }
                        htm += '<ul class="' + ulstyle + '"><li class="li-blue2"><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span> <span class="yj03">' + o.dd + '</span> <span class="yj04">同意</span></div></li >'
                    }
                    else if (o.approved == 3) {
                        dechtm += '<h3>' + o.name + ' <i>' + o.username + '</i> <span>' + o.dd + '</span></h3><p class="bjg" > '+ o.comment + '</p >'
                        hstyle = 'cp02'
                        ulstyle = 'uc02'
                        htm += '<ul class="' + ulstyle + '"><li><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span> <span class="yj03">' + o.dd + '</span> <span class="yj05">驳回</span></div></li >'
                    } else {
                        hstyle = 'cp02'
                        ulstyle = 'uc02'
                        htm += '<ul class="' + ulstyle + '"><li><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span></div></li >'
                    }
                }
            }
            htm += '</ul><h4 class="' + hstyle + '"><span></span>结束</h4>';
            $("#transferInfo").html(htm);
            $("#declineInfo").html(dechtm);
            $("#passlineInfo").html(passhtm);
            var comlenght = $('#passlineInfo').children('p').length
            $(".js-feed-count").html(comlenght);

            if ($("#passlineInfo").html() == "") {
                $(".feedback-item.js-myattend").hide()
            } else {
                $(".feedback-item.js-myattend").show()
            }

            if ($("#declineInfo").html() == "") {
                $(".feedback-item.decfeedback-item").hide()
            } else {
                $(".feedback-item.decfeedback-item").show()
            }
        })
    });
</script>

