
@{
    ViewBag.Title = "定标文件";
}
<link rel="stylesheet" href="~/css/icheck/minimal/minimal.css" />
<link href="~/css/sweetalert2.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/style.css" />
<style>

    .app-dt .meet-form tr:nth-child(1) {
        background: #fff;
    }

    .form-tr:nth-child(1) td:nth-child(2), .form-tr:nth-child(2) td:nth-child(2) {
        color: #666;
    }

    .form-lable span {
        display: block;
        float: left;
    }

    .form-tr:last-child td:nth-child(1) {
        text-align: right;
    }

    .meet-form7 .form-tr .form-lable {
        text-align: left;
    }

    ul.cjtb_ul li {
        float: left;
        width: 310px;
        height: auto;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .nxzbdw.nxzbdw2 li {
        width: 310px;
        margin-bottom: 15px;
    }

    .nxzbdw {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .txt02 {
        margin: 10px 0 20px;
    }

    .icon-file {
        background: url(../img/icon-file.png) center center no-repeat;
    }

    .allfileInput2 {
        opacity: 0;
    }

    .dw {
        display: block;
    }

    .dw {
        display: block;
        background: #fff;
        padding: 0px;
        margin-left: 0px;
        margin-top: 10px
    }

        .dw > ul > li {
            margin-bottom: 3px;
        }

            .dw > ul > li > a {
                color: #008cd6;
                padding-left: 10px;
            }
</style>
<div class="left-nav">
    <div class="left-nav-con">
        <h1>招标内容</h1>
        <ul class="left-nav-list">
            <li><a href="/Projects" class="active"><i class="icon icon-eye1"></i>内容列表</a></li>
        </ul>
    </div>
</div>
<div class="main-con">
    <div class="main-wrap">
        <div class="main-top ">
            <span class="page-title">定标文件申请</span>
        </div>
        <div class="wc-container app-dt">
            <div class="wc-nav">
            </div>

            <table class="meet-form meet-form7">
                <tbody>
                    <tr class="form-tr">
                        <td class="form-lable" style="vertical-align: top;padding-top: 15px;">
                            <span class="red-word">*</span>简述
                        </td>
                        <td>
                            <textarea id="abst" class="txt02" style="padding: 0 5px;">@Html.Raw(ViewBag.Abstract)</textarea >
                        </td >
                    </tr>
                    <tr class="form-tr">
                        <td class="form-lable" style="vertical-align: top;">
                            <span class="red-word">*</span><span>
                                参加该投
                                <br> 标单位&nbsp;&nbsp;&nbsp;
                            </span>
                        </td>
                        <td>
                            <div>
                                <a href = "#"
                                   onclick="ShowDiv('MyDiv','fade', 'join')"
                                   style="color: #fff"><img src = "/img/icon-add2.png" alt=""></a>
                            </div>
                            <!--弹出层 begin-->
                            <div id = "fade" class="black_overlay" >
                                <div id = "MyDiv" class="white_content white_content3">
                                    <div class="btn-close"
                                         style="text-align: right;  height: 20px;">
                                        <span style = "font-size: 16px;" onclick="CloseDiv('MyDiv','fade')">
                                            <img src = "/img/btn-close.png" alt="">
                                        </span>
                                    </div>
                                    <h3>劳务单位</h3>
                                    <div style = "margin:10px ;" >
                                        < select class="meet-select js-meet-state bTypeCompany">
                                            <option value = "" > 推荐企业 </option >
                                            <option value="1">名录内单位</option>
                                            <option value = "0" > 名录外单位 </option >
                                        </ select >
                                        < select class="meet-select js-meet-state bType"></select>
                                    </div>
                                    <div class="search-con2">
                                        <input type = "text" name="keyname" placeholder="请输入关键字" class="searchinput">
                                        <a class="search-btn"><i class="search-icon meet-icon"></i></a>
                                    </div>
                                    <table class="meet-table text-left">
                                        <tbody id = "bidingcompanysc" class="mbidcompany"></tbody>
                                    </table>
                                    <div style = "bottom:10px;text-align:center;" >
                                        < div class="page">
                                        </div>
                                        <div class="form-tr-btn">
                                            <button class="meet-btn big-btn lightblue-btn js-submit" onclick="addcompanytwo()">
                                                确定
                                            </button>
                                            <button class="meet-btn big-btn gray-btn" onclick="CloseDiv('MyDiv','fade')">
                                                取消
                                            </button>
                                        </div>
                                    </div>
                                </div>
                      
                            <!--弹出层 end-->
                            <ul class="cjtb_ul">@Html.Raw(ViewBag.JoinCompany)</ul>
                        </td>
                    </tr>
                    <tr class="form-tr">
                        <td class="form-lable" style="vertical-align: top">
                            <span class="red-word">*</span><span>
                                拟选中标
                                <br> 单位&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </span>
                        </td>
                        <td>
                            <div>
                                <a href = "#" onclick="ShowDiv('MyDiv','fade', 'win')" style="color: #fff"><img src = "/img/icon-add2.png" alt=""></a>
                            </div>
                            <!--弹出层 begin-->
                   @*       <div id="fade2" class="black_overlay">
                                <div id="MyDiv2" class="white_content white_content3">
                                    <div class="btn-close"
                                         style="text-align: right;  height: 20px;">
                                        <span style="font-size: 16px;" onclick="CloseDiv('MyDiv2','fade2')">
                                            <img src="/img/btn-close.png"
                                                 alt="">
                                        </span>
                                    </div>
                                    <h3>劳务单位2</h3>
                                    <div style="margin:10px ;">
                                        <select class="meet-select js-meet-state bTypeCompany">
                                            <option value="">推荐企业</option>
                                            <option value="1">名录内单位</option>
                                            <option value="0">名录外单位</option>
                                        </select>
                                        <select class="meet-select js-meet-state bType"></select>
                                    </div>
                                    <div class="search-con2">
                                        <input type="text" name="keyname" placeholder="请输入关键字" class="searchinput">
                                        <a class="search-btn"><i class="search-icon meet-icon"></i></a>
                                    </div>
                                    <table class="meet-table text-left">
                                        <tbody id="wincompanysc" class="mbidcompany"></tbody>
                                    </table>
                                    <div style="bottom:10px;text-align:center;">
                                        <div class="page">
                                        </div>
                                        <div class="form-tr-btn">
                                            <button class="meet-btn big-btn lightblue-btn js-submit" onclick="addcompany()">
                                                确定
                                            </button>
                                            <button class="meet-btn big-btn gray-btn" onclick="CloseDiv('MyDiv2','fade2')">
                                                取消
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>*@  
                            <!--弹出层 end-->
                            <ul class="nxzbdw nxzbdw2">@Html.Raw(ViewBag.WinCompany)</ul>
                        </td>
                    </tr>
                    <tr class="form-tr">
                        <td class="form-lable" style="vertical-align: top">
                            <span class="white-word">*</span><span>
                                定标文件
                                <br>详细说明
                            </span>
                        </td>
                        <td>
                            <div id="editor">
                                @Html.Raw(ViewBag.FileExplain)
                            </div>
                            @*富文本编辑框*@
                        </td>
                    </tr>
                    <tr class="form-tr">
                        <td class="form-lable" style="vertical-align: top">
                            <div style="display: inline-block"><i class="meet-icon icon-file"></i>附件：</div>
                        </td>
                        <td>
                            <div class="upload-btn upload-btn2" style="top:0px;width: 40px;">
                                <form id='fupform' name='fupform' method="post" target='frameFile' action="/Common/FileUpload" enctype="multipart/form-data" class="allfileInput allfileInput2" style="cursor: pointer;">
                                    <input type='file' id='fup' name='fup' value="IamPic" />
                                    <input type="text" id="pid" name="pid" width="20" value="@ViewBag.pid" style="display:none" />
                                    <input type="text" id="ftype" name="ftype" width="20" value="4" style="display:none" />
                                    <input type="text" id="comment" name="comment" width="20" value="" style="display:none" />
                                </form>
                                <img src="/img/icon-add2.png" alt="" class="up up2">
                            </div>
                            <div class="dw">
                                <ul id="bfiles"></ul>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="form-tr-btn">
                <button type="submit" class="meet-btn big-btn lightblue-btn js-submit" onclick="makebidbtn()">提交</button>
                <button type="reset" class="meet-btn big-btn gray-btn" onclick="window.history.go(-1)">返回</button>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript" src="~/js/jquery-1.11.0.js"></script>
<script type="text/javascript" src="~/js/My97DatePicker/WdatePicker.js"></script>
<script src="~/js/sweetalert2.all.js"></script>
<script type="text/javascript" src="~/js/validate/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/js/validate/messages_zh.min.js"></script>
<script type='text/javascript' src='~/js/js.js'></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.form.js"></script>
<script src="~/js/WangEditor/wangEditor.js"></script>
<script>

    $.get("/Projects/GetFiles?pid=@ViewBag.pid&ftype=4", function (data) {
        console.log(data)
        //$("#bffiles").html(data);
        var obj = JSON.parse(data);
        for (var i = 0; i < obj.length; i++) {
            var li = document.createElement('li');
            li.id = obj[i].fid;
            li.innerHTML = obj[i].FileName + '<a href = "#" style = "color: #008cd6;margin-left: 5px;" onclick="deleteFile(\'' + obj[i].fid + '\')" > 删除</a>';
            document.getElementById("bfiles").appendChild(li)
        }
    }
    )

    // 富文本编辑框
    var E = window.wangEditor
    var editor = new E('#editor')
    // 或者 var editor = new E( document.getElementById('editor') )
    editor.create()

    var JoinWin='';
    //弹出隐藏层
    function ShowDiv(show_div, bg_div, jw) {
        JoinWin=jw;
        Paginator(nowpage, page_size)
        document.getElementById(show_div).style.display = 'block';
        document.getElementById(bg_div).style.display = 'block';
        var bgdiv = document.getElementById(bg_div);
        bgdiv.style.width = document.body.scrollWidth;
        // bgdiv.style.height = $(document).height();
        $("#" + bg_div).height($(window).height());
    }


    $(".btn-close2").click(function () {
        $(this).parent().parent().hide();
    });
    $(".btn-close3").click(function () {
        $(this).parent().parent().hide();
    });


</script>
<script>
    var ss;
    var ss2;
    window.onload = function () {
        var h = document.documentElement.clientHeight;//可见区域高度
        ss = document.getElementById('MyDiv');
        ss2 = document.getElementById('MyDiv2');

        ss.style.height = h - 90 + "px";
        ss2.style.height = h - 90 + "px";
    }
</script>
<script type="text/javascript">
    /*字数限制*/
    $("#area").on("input propertychange", function () {
        var $this = $(this),
            _val = $this.val(),
            count = "";
        if (_val.length > 200) {
            $this.val(_val.substring(0, 200));
        }
        count = 200 - $this.val().length;
        $("#text-count").text(count);
    });
    /*字数限制*/
    $("#area2").on("input propertychange", function () {
        var $this = $(this),
            _val = $this.val(),
            count = "";
        if (_val.length > 200) {
            $this.val(_val.substring(0, 200));
        }
        count = 200 - $this.val().length;
        $("#text-count2").text(count);
    });
    /*字数限制*/
    $("#area3").on("input propertychange", function () {
        var $this = $(this),
            _val = $this.val(),
            count = "";
        if (_val.length > 200) {
            $this.val(_val.substring(0, 200));
        }
        count = 200 - $this.val().length;
        $("#text-count3").text(count);
    });
</script>
<script>
    function clearNoNum(obj) {
        obj.value = obj.value.replace(/[^\d.]/g, "");  //清除“数字”和“.”以外的字符
        obj.value = obj.value.replace(/\.{2,}/g, "."); //只保留第一个. 清除多余的
        obj.value = obj.value.replace(".", "$#$").replace(/\./g, "").replace("$#$", ".");
        obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/, '$1$2.$3');//只能输入两个小数
        if (obj.value.indexOf(".") < 0 && obj.value != "") {//以上已经过滤，此处控制的是如果没有小数点，首位不能为类似于 01、02的金额
            obj.value = parseFloat(obj.value);
        }
    }
</script>
<script>
    $("#fup").change(function () {
        var fup = $("#fup").val();
        if (fup == "") { //点击取消，取消事件的编写
            return;
        }
        $("#fupform").ajaxSubmit(function (res) {
            var names = res.split('|')
            var li = document.createElement("li");
            li.id = names[0].trim()
            li.innerHTML = names[1] + '<a href = "#" style = "color: #008cd6;margin-left: 5px;" onclick="deleteFile(\'' + names[0].trim() + '\')" > 删除</a>'
            document.getElementById("bfiles").appendChild(li)
        });
    })
    function deleteFile(name) {
        var li = document.getElementById(name)
        li.parentNode.removeChild(li);
        $.post("/Common/FileDelete", { fname: name }, function () { });
    }
    var companys;
    //拟选中标单位添加
    var cid = "";
    function addcompany() {
        $("input[name='addcompanywin']:checked").each(function () {
            cid = $(this).val();
            var htm = "";
            for (var k = 0; k < companys.length; k++) {
                if (cid == companys[k].id) {
                    var companyid = 'companyw' + cid;
                    htm += '<li id="' + companyid + '"><div class="pca" >' +
                        '<div class="btn-close3"><img src="/img/icon-close.png" alt="" onclick="removeCompany(' + companyid + ')"></div>' +
                        '<h3>' + companys[k].name + '</h3>' +
                        '<div style="display:none">'+cid+'</div>'+
                        '<div style="padding: 10px;"><textarea name="" id="area" class="tar" placeholder="请输入文本内容"></textarea><div style="font-size: 12px;text-align: right;"></div></div>' +
                        '</div>' +
                        '</li>';
                }
            }
            $(".nxzbdw.nxzbdw2").append(htm);
            if ($("input[name='addcompanywin']").val() == cid) {
                $("input[name='addcompanywin']").prop("checked", false)
            }
        });
        CloseDiv('MyDiv2', 'fade2');
        $(".searchinput").val("");
        $(".bType").val("")
        $(".bTypeCompany").val("")

    }
    //关闭弹出层
    function CloseDiv(show_div, bg_div) {
        document.getElementById(show_div).style.display = 'none';
        document.getElementById(bg_div).style.display = 'none';
        if($("input[name='addcompanywin']").is(":checked")){
            $("input[name='addcompanywin']").prop("checked", false)
        }
        if($("input[name='addcompanybiding']").is(":checked")){
            $("input[name='addcompanybiding']").prop("checked", false)
        }
        $(".searchinput").val("");
        $(".bType").val("")
        $(".bTypeCompany").val("")
    };
    // 移除拟中标单位
    function removeCompany(cid) {
        //var element = document.getElementById(cid);
        //element.parentNode.removeChild(element);
        cid.parentNode.removeChild(cid);
    }
    //参加该投标单位添加
    function addcompanytwo() {
        if(JoinWin=='join'){
            $("input[name='addcompanybiding']:checked").each(function (i) {//把所有被选中的复选框的值存入数组
                cid = $(this).val();
                for (var i = 0; i < companys.length; i++) {
                    if (cid == companys[i].id) {
                        var cidtwo = 'companyb' + cid;
                        var htmtwo = '<li id="' + cidtwo + '">' +
                                        '<div class="pca">' +
                                           '<div class="btn-close2"><img src="/img/icon-close.png" alt="" onclick="removeCompanytwo(' + cidtwo + ')"></div>' +
                                           '<div class="ul-bg">' +
                                               '<p class="f18">' + companys[i].name + '</p>' +
                                                '<p>资质等级：' + companys[i].qualificationlevel + '</p>' +
                                                '<p>注册资金：' + companys[i].registeredcapital + '万元</p>' +
                                                '<p>' + companys[i].constructioncontent + '</p>' +
                                            '</div>' +
                                            '<div style="display:none">'+ companys[i].id+'</div>'+
                                            '<div class="tbbj">投标报价：<input type="text" name="fp" id="price1" onkeyup="clearNoNum(this)" placeholder="0.00">&nbsp;&nbsp;元</div>' +
                                            '<div class="tbbj">二次报价：<input type="text" name="sp" id="price2" onkeyup="clearNoNum(this)" placeholder="0.00">&nbsp;&nbsp;元</div>' +
                                       '</div>' +
                                    '</li>';

                    }

                }
                $(".cjtb_ul").append(htmtwo);
                if($("input[name='addcompanybiding']").val() == cid){
                    $("input[name='addcompanybiding']").prop("checked",false)
                }

            });
        }else if(JoinWin=='win')
        {
            $("input[name='addcompanybiding']:checked").each(function () {
                cid = $(this).val();
                var htm = "";
                for (var k = 0; k < companys.length; k++) {
                    if (cid == companys[k].id) {
                        var companyid = 'companyw' + cid;
                        htm += '<li id="' + companyid + '"><div class="pca" >' +
                            '<div class="btn-close3"><img src="/img/icon-close.png" alt="" onclick="removeCompany(' + companyid + ')"></div>' +
                            '<h3>' + companys[k].name + '</h3>' +
                            '<div style="display:none">'+cid+'</div>'+
                            '<div style="padding: 10px;"><textarea name="" id="area" class="tar" placeholder="请输入文本内容"></textarea><div style="font-size: 12px;text-align: right;"></div></div>' +
                            '</div>' +
                            '</li>';
                    }
                }
                $(".nxzbdw.nxzbdw2").append(htm);
                if ($("input[name='addcompanybiding']").val() == cid) {
                    $("input[name='addcompanybiding']").prop("checked", false)
                }
            })
        }

        $(".searchinput").val("");
        $(".bType").val("")
        $(".bTypeCompany").val("")
     CloseDiv('MyDiv', 'fade');

    }

    // 移除参标单位
    function removeCompanytwo(cidtwo) {
        //var elementtwo = document.getElementById(cidtwo);
        //elementtwo.parentNode.removeChild(elementtwo);
        cidtwo.parentNode.removeChild(cidtwo);
    }
    //所添加公司遍历
    //分页点击
    var cur_num = 1
    var clickpagenum = "" //所点击页码
    //当前所在页码
    var nowpage = 1;
    var page_size = 10
    var pagenum = 12
    Paginator(nowpage, page_size)
    $(".search-btn").on("click", function () {
        Paginator(nowpage, page_size)
    })

    function Paginator(page, ps) {
        var ctype = "";
        var inout = "";
        var cname = $(".searchinput").val();
        if ($(".bType").val() == "") {
           ctype = "";
        } else {
           ctype = $(".bType").val();
        }
        if ($(".bTypeCompany").val() == ""){
           inout = "";
        } else {
           inout = $(".bTypeCompany").val();
        }
        $.post("/Common/GetCompanyCandidate", { pagesize: ps, page: page, cname: cname, ctype: ctype, inout: inout },function (data) {
            var jsonData = JSON.parse(data);
            var obj = jsonData.List;
            companys=jsonData.List
            if (obj.length == 0)
            {
                $("#wincompanysc").html('')
                $("#bidingcompanysc").html('');
                pages(page, 0, 0, ps)
                return;
            }
            var comhtml = ""
            var comhhtm2 = "";
            for (var i = 0; i < obj.length; i++) {
                var o = obj[i];
                console.log(o)
                comhtml+='<tr class="white-bg">'+
                              '<td class="check-color"  style="width:10px;padding:0 5px">'+
                                 '<input class="icheck" name="addcompanybiding" type="checkbox"  value="' + o.id +'" />' +
                              '</td>'+
                              '<td style="width:150px;padding:0 5px">'+
                                  '<a href="#" class="comoname" style="display:block;line-height:18px;">'+o.name+'</a>'+
                              '</td>'+
                              '<td style="width:80px;padding:0 5px">'+o.corporaterepresentative+'</td>'+
                              '<td style="width:100px;padding:0 5px">'+o.repphone+'</td>'+
                    '</tr>'
                comhhtm2 += '<tr class="white-bg">' +
                    '<td class="check-color" style="width:10px;padding:0 5px">' +
                    '<input class="icheck" name="addcompanywin" type="checkbox" value="' + o.id + '" />' +
                    '</td>' +
                    '<td style="width:150px;padding:0 5px">' +
                    '<a href="#" class="comoname" style="display:block;line-height:18px;">' + o.name + '</a>' +
                    '</td>' +
                    '<td style="width:80px;padding:0 5px">' + o.corporaterepresentative + '</td>' +
                    '<td style="width:100px;padding:0 5px">' + o.repphone + '</td>' +
                    '</tr>'
            }

            $("#wincompanysc").html(comhhtm2)
            $("#bidingcompanysc").html(comhtml);
            pages(page, jsonData.pagecount, jsonData.total, ps)
        })

    }


    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg); //获取url中"?"符后的字符串并正则匹配
        var context = "";
        if (r != null)
            context = r[2];
        reg = null;
        r = null;
        return context == null || context == "" || context == "undefined" ? "" : context;
    }
    function makebidbtn() {
        var lis = $(".cjtb_ul").children('li');
        var jc = "";
        for (var i = 0; i < lis.length; i++) {
            var cs = lis[i].children[0].children;
            jc += cs[2].innerText + "-" + cs[3].children[0].value + "-" + cs[4].children[0].value + "|"
        }
        if (jc.length > 0)
            jc=jc.substr(0, jc.length - 1);

        var abstr = $("#abst").val();
        var wc = "";
        lis = $(".nxzbdw.nxzbdw2").children('li');
        for (var i = 0; i < lis.length; i++) {
            var cs = lis[i].children[0].children;
            wc += cs[2].innerText + "-" + cs[3].children[0].value + "|";
        }
        if (wc.length > 0)
            wc = wc.substr(0, wc.length - 1);
        getQueryString('status');

        if (getQueryString('status') == 3) {
             $.post("/Projects/ReapplyMakeBidFile", { abst: abstr, pid:@ViewBag.pid, joincompany: jc, wincompany: wc }, function (res) {
                var rdata = encodeURIComponent(editor.txt.html())
                $.post("/Projects/SaveRichText", { pid:@ViewBag.pid, rtext: rdata}, function () {
                    swal('创建成功！').then(function () {
                        window.location.href = "/Projects/Detail?pid="+@ViewBag.pid;
                    })
                })
            });
        } else {
            $.post("/Projects/SaveMakeBidFile", { abst: abstr, pid:@ViewBag.pid, joincompany: jc, wincompany: wc }, function (res) {
                var rdata = encodeURIComponent(editor.txt.html())
                $.post("/Projects/SaveRichText", { pid:@ViewBag.pid, rtext: rdata}, function () {
                    swal('创建成功！').then(function () {
                        window.location.href = "/Projects/Detail?pid="+@ViewBag.pid;
                    })
                })
            });
        }
    }

    $.post("/Common/GetCompanyType", {}, function (data) {
        var obj = JSON.parse(data);
        var btype = $(".bType");
        btype.append("<option value=''>业务类型</option>");
        for (var i = 0; i < obj.length; i++) {
            var o = obj[i]
            btype.append("<option value='" + o.id + "'>" + o.name + "</option>")
        }
    });
</script>
