
@{
    ViewBag.Title = "招标详情";
}


<link rel="stylesheet" href="~/css/icheck/minimal/minimal.css" />
<link href="~/css/sweetalert2.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/style.css" />
<style>
    .form-tr:nth-child(1) td:nth-child(2), .form-tr:nth-child(2) td:nth-child(2){
        color:#3e3a39;
    }
.block-left .meet-form td.form-lable.blue-word{
        color:dodgerblue;
    }
     .form-tr td:nth-child(2){
         color:#3e3a39;
     }
    .form-tr .form-lable {
        width: 130px;
    }
</style>
<div class="left-nav">
    <div class="left-nav-con">
        <h1>招标管理</h1>
        <ul class="left-nav-list">
            <li><a href="/Bidings"><i class="icon icon-eye1"></i>招标信息</a></li>
            @*<li><a href="/BidingApplication"><i class="icon icon-hand1"></i>招标申请</a></li>*@
            <li><a href="/BidingApprove" class="active"><i class="icon icon-user1"></i>招标审批</a></li>
            @*<li><a href="winning_bid.html" class="'+ (index==4?" active":"") +'"><i class="icon icon-edit1"></i>中标公告</a></li>
                <li><a href="abandoned_tender.html" class="'+ (index==5?" active":"") +'"><i class="icon icon-fet1"></i>废标</a></li>*@
        </ul>
    </div>
</div>
<div class="main-con">
    <div class="main-wrap">
        <div class="main-top">
            <span class="js-page-name">招标详情</span>
            <div class="apply-opt">
                <a href="javascript:;" class="js-cancle-meet bohui" title="驳回" onclick="declineApplication()">
                    <i class="meet-icon icon-cancel icon-bh">驳回</i>
                </a>
                @Html.Raw(ViewBag.InviteCompanyBtn)
                <a href="#" class="js-cancle-meet" onclick="window.history.go(-1)" title="返回">
                    <i class="meet-icon icon-del icon-tb">返回</i>
                </a>
            </div>
        </div>
        <div class="wc-container">
            <div class="wc-nav">
            </div>
            <div class="detail-wrap detail-con">

                <div class="block-left block-left2 block-left4">
                    <table class="meet-form meet-form7">
                        <tbody>
                            <tr class="form-tr form-tr-title-bg">
                                <td class="blue-word form-lable">项目名称：</td>
                                <td>@ViewBag.Name</td>
                            </tr>
                            <tr class="form-tr">
                                <td class="blue-word form-lable">提交人：</td>
                                <td>@ViewBag.Publisher</td>
                            </tr>     
                            <tr class="form-tr">
                                <td class="blue-word form-lable">项目地点：</td>
                                <td>@ViewBag.Location</td>
                            </tr>
                            <tr class="form-tr">
                                <td class="blue-word form-lable">项目类型：</td>
                                <td>@ViewBag.Type</td>
                            </tr>
                            <tr class="form-tr">
                                <td class="blue-word form-lable">报名截止时间：</td>
                                <td>@ViewBag.ApplyDate</td>
                            </tr>
                            <tr class="form-tr">
                                <td class="blue-word form-lable">预计开标时间：</td>
                                <td>@ViewBag.OpenDate</td>
                            </tr>
                            <tr class="form-tr">
                                <td class="blue-word form-lable">拟中标单位数量：</td>
                                <td>@ViewBag.BidingNum</td>
                            </tr>
                            <tr class="form-tr">
                                <td class="blue-word form-lable">招标内容介绍：</td>
                                <td>@ViewBag.ProjDescription</td>
                            <tr class="form-tr">
                                <td class="blue-word form-lable">招标文件简述：</td>
                                <td>@ViewBag.Content</td>
                            </tr>
                            <tr class="form-tr">
                                <td class="blue-word form-lable">招标文件：</td>
                                <td><ul id="bffiles"></ul></td>
                            </tr>
                            <tr class="form-tr detail-user-con tr-border">
                                <td class="form-lable label2">
                                    <span style="color: #008cd6">参与单位：</span>
                                </td>
                                <td>
                                    <div class="detail-user">
                                        @Html.Raw(ViewBag.addCompanysbtn)
                                    </div>
                                    <!--弹出层 begin-->
                                    <div id="fade" class="black_overlay">
                                        <div id="MyDiv" class="white_content white_content3">
                                            <div class="btn-close"
                                                 style="text-align: right;  height: 20px;">
                                                <span style="font-size: 16px;" onclick="CloseDiv('MyDiv','fade')">
                                                    <img src="~/img/btn-close.png"
                                                         alt="">
                                                </span>
                                            </div>
                                            <h3>劳务单位</h3>
                                            <div style="margin:10px ;">
                                                <select class="meet-select js-meet-state" id="bTypeCompany">
                                                    <option value="">推荐企业</option>
                                                    <option value="1">名录内单位</option>
                                                    <option value="0">名录外单位</option>

                                                </select>
                                                <select class="meet-select js-meet-state" id="bType"></select>
                                            </div>
                                            <div class="search-con2">
                                                <input type="text" name="keyname" placeholder="请输入关键字" id="searchinput">
                                                <a class="search-btn" ><i class="search-icon meet-icon"></i></a>
                                            </div>
                                            <table class="meet-table text-left">
                                                <thead>
                                                    <tr>
                                                        <th style="width:20px;padding:0px 5px"></th>
                                                        <th style="width:150px;padding:0px 5px">公司名称</th>
                                                        <th style="width:80px;padding:0px 5px">法人代表</th>
                                                        <th style="width:60px;padding:0px 5px">联系电话</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="comhtm">
                                                </tbody>
                                            </table>
                                            <div style="bottom:10px;text-align:center">
                                                <div class="page">
                                                </div>
                                                <div class="form-tr-btn">
                                                    <button 
                                                            class="meet-btn big-btn lightblue-btn js-submit" onclick="addcompeny()">
                                                        确定
                                                    </button>
                                                    <button  class="meet-btn big-btn gray-btn" onclick="CloseDiv('MyDiv','fade')">
                                                        取消
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--弹出层 end-->
                                </td>
                            </tr>
                            @Html.Raw(ViewBag.JoinCompanys)
                        </tbody>
                    </table>
                </div>
                <div class="block-right block-right2">
                    <div class="block-right-wrap">
                        <div class="right-block">
                            <div class="right-block-title">
                                <div class="feedback-area-head">
                                    <i class="meet-icon icon-message-opt"></i>
                                    <span class="right-block-title">请输入您的审核意见：</span>
                                </div>
                            </div>
                            <div class="feedback-area-wrap">
                                <div class="feedback-area-con">
                                    <textarea name="reasons" style="min-height: 50px;" id="feedback-area"
                                              placeholder="请输入"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="deal-apply-btn deal-apply-btn2">
                            <a class="meet-btn big-btn blue-btn js-deal green-btn blue-btn2" onclick="approveApplication()">审核通过</a>

                        </div>

                        <div class="block-rigt">
                            <div class="detail-user2">
                                <a class="meet-btn2 medium-btn">审核意见</a>
                                <a class="meet-btn2 medium-btn active">流转信息</a>
                            </div>
                            <div class="detail-user-list2 right-ss"
                                 style="min-height:215px;overflow: auto;">
                                <div class="meet-user-span2" style="display: none;">
                                    <div class="feedback-con feedback-con2">
                                        <div class="feedback-item decfeedback-item">
                                            <div class="feedback-item-title">
                                                <i class="meet-icon icon-message-on"></i>
                                                驳回理由
                                            </div>
                                            <ul class="feedback-list feedback-admin">
                                                <li id="declineInfo"></li>
                                            </ul>
                                        </div>
                                        <div class="feedback-item js-myattend">
                                            <div class="feedback-item-title">
                                                <i class="meet-icon icon-message"></i>
                                                共<span class="js-feed-count"></span>条回复消息
                                            </div>
                                            <ul class="feedback-list feedback-users">
                                                <li id="passlineInfo"></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div id="transferInfo" class="meet-user-span2" style="display: block;">
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<script type="text/javascript" src="~/js/jquery-1.11.0.js"></script>
<script type="text/javascript" src="~/js/jquery-ui.min.js"></script>
<script src="~/js/sweetalert2.all.js"></script>
<script type="text/javascript" src="~/js/validate/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/js/validate/messages_zh.min.js"></script>
<script type="text/javascript" src="~/js/icheck/icheck.min.js"></script>
<script type="text/javascript" src="~/js/js.js"></script>


<script>




    //参与单位移除
    $(".meet-user-span span i").click(function () {
        $(this).parent(".meet-user-span span").hide();
    });

$.get("/Projects/GetFiles?pid=@ViewBag.pid&ftype=2", function (data) {
            var obj = JSON.parse(data);
            for (var i = 0; i < obj.length; i++) {
                var li = document.createElement('li');
                li.innerHTML = '<a href = "'+obj[i].FilePath+'" style = "color:#3e3a39;margin-left: 5px;" target="_blank"> ' + obj[i].FileName+'</a>';
                document.getElementById("bffiles").appendChild(li)
            }
    });
    //弹出隐藏层
    function ShowDiv(show_div, bg_div) {
        document.getElementById(show_div).style.display = 'block';
        document.getElementById(bg_div).style.display = 'block';
        var bgdiv = document.getElementById(bg_div);
        bgdiv.style.width = document.body.scrollWidth;
        $("#" + bg_div).height($(window).height());
    }

    //关闭弹出层
    function CloseDiv(show_div, bg_div) {
        document.getElementById(show_div).style.display = 'none';
        document.getElementById(bg_div).style.display = 'none';
        if($("input[name='addcompenycheck']").is(":checked")){
            $("input[name='addcompenycheck']").prop("checked", false)
        }
    }
    ;
</script>
<script>
    //参与单位添加
    function addcompeny(){
        var checkID = [];
        $("input[name='addcompenycheck']:checked").each(function (i) {//把所有被选中的复选框的值存入数组
            checkID[i] = $(this).val();
            var cidd= $(this).val();
            var idname=$(this).val().split("|");
            var id =idname[0];
            var name =idname[1];
            var cid = 'company' + id;
           $.post("/BidingApprove/AddBidingCompany",{ pid:@ViewBag.pid ,cid:id }, function(){
            var htm = '<span id="' + cid + '">' + name + '<i><img src="/img/icon-del.png" onclick="removeCompany(\''+cid+'\')"></i></span>';
                $(".meet-user-span").append(htm);

           })
            CloseDiv('MyDiv', 'fade');
            if($("input[name='addcompenycheck']").val() == cidd){
                $("input[name='addcompenycheck']").prop("checked",false)
            }
        })
        }


</script>
<script>

    function removeCompany(cid) {
        var element = document.getElementById(cid);
        element.parentNode.removeChild(element);
        var id=cid.replace('company','')
        $.post("/BidingApprove/RemoveBidingCompany",{ pid:@ViewBag.pid ,cid:id }, function(){
        })
    }
</script>
<script>
    var ss;
    window.onload = function () {
        var h = document.documentElement.clientHeight;//可见区域高度
        ss = document.getElementById('MyDiv');
        ss.style.height = h - 90 + "px";
    }
</script>
<script>

    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg); //获取url中"?"符后的字符串并正则匹配
        var context = "";
        if (r != null)
            context = r[2];
        reg = null;
        r = null;
        return context == null || context == "" || context == "undefined" ? "" : context;
    }


    //审核流程遍历
    $(function () {

        var status = getQueryString('status');
        if (status == "2" || status == "3") {
            $(".deal-apply-btn.deal-apply-btn2").hide();
            $(".right-block").hide();
            $(".bohui").hide();
        }

            $.get("/Common/GetApproveProcessingInfo", { oid:@ViewBag.pid, apid:3}, function (data) {
                console.log(data)
                var obj = JSON.parse(data);
                var cuid=@ViewBag.UserId;
                if (obj.length == 0)
                    return;
                var pdepart = obj[0].pname;
                var dechtm = "";
                var passhtm = "";
                var htm = '<h4 class="cp01"><span></span>' + pdepart + '</h4><ul>';//<li><span class="yj06">' + obj[0].name + '</span> <span class="yj02">' + obj[0].username + '</span> <span class="yj03">' + obj[0].dd +'</span> <span class="yj04">提交申请</span></li >';
                var hstyle = 'cp01'; //cp02
                var ulstyle = 'uc01'; //uc02
                for (var i = 0; i < obj.length; i++) {
                    var o = obj[i];


                    if(i==0){
                        htm+='<li class="li-blue2"><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span> <span class="yj03">' + o.dd + '</span> <span class="yj04">提交申请</span></div></li >'
                        continue;
                    }
                    if(o.uid==cuid){
                        $("#feedback-area").val(o.comment);
                    }
                    if (o.pname == pdepart) {
                        if (o.approved == 2) {
                            if (o.comment != "") {
                                passhtm += '<h3>' + o.name + ' <i>' + o.username + '</i> <span>' + o.dd + '</span></h3><p class="passbjg"  id="comlenght" > ' + o.comment + '</p >'
                            }
                            htm += '<li class="li-blue2"><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span> <span class="yj03">' + o.dd + '</span> <span class="yj04">同意</span></div></li >'
                        }
                        else if (o.approved == 3) {
                            dechtm = '<h3>' + o.name + ' <i>' + o.username + '</i> <span>' + o.dd + '</span></h3><p class="bjg" > ' + o.comment + '</p >' + dechtm
                            hstyle = 'cp02'
                            ulstyle = 'uc02'
                            htm += '<li ><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span> <span class="yj03">' + o.dd + '</span> <span class="yj05">驳回</span></div></li >'
                        } else {
                            if (o.comment != "") {
                                dechtm += '<h3>' + o.name + ' <i>' + o.username + '</i> <span>' + o.dd + '</span></h3><p class="bjg" > ' + o.comment + '</p >'
                            }
                            hstyle = 'cp02'
                            ulstyle = 'uc02'
                            htm += '<li><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span></div></li >'
                        }
                    }
                    else {
                        htm += '</ul>';
                        pdepart = o.pname;
                        htm += '<h4 class="' + hstyle + '"><span></span>' + pdepart + '</h4>';
                        if (o.approved == 2) {
                            if (o.comment != "") {
                                passhtm += '<h3>' + o.name + ' <i>' + o.username + '</i> <span>' + o.dd + '</span></h3><p class="passbjg" id="comlenght" > ' + o.comment + '</p >'
                            }
                            htm += '<ul class="' + ulstyle + '"><li class="li-blue2"><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span> <span class="yj03">' + o.dd + '</span> <span class="yj04">同意</span></div></li >'
                        }
                        else if (o.approved == 3) {
                            dechtm += '<h3>' + o.name + ' <i>' + o.username + '</i> <span>' + o.dd + '</span></h3><p class="bjg" > ' + o.comment + '</p >'
                            hstyle = 'cp02'
                            ulstyle = 'uc02'
                            htm += '<ul class="' + ulstyle + '"><li><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span> <span class="yj03">' + o.dd + '</span> <span class="yj05">驳回</span></div></li >'
                        } else {
                            if (o.comment != "") {
                                dechtm += '<h3>' + o.name + ' <i>' + o.username + '</i> <span>' + o.dd + '</span></h3><p class="bjg" > ' + o.comment + '</p >'
                            }
                            hstyle = 'cp02'
                            ulstyle = 'uc02'
                            htm += '<ul class="' + ulstyle + '"><li><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span></div></li >'
                        }
                    }
                }
                htm += '</ul><h4 class="' + hstyle + '"><span></span>结束</h4>';

                $("#transferInfo").html(htm);
                $("#declineInfo").html(dechtm);
                $("#passlineInfo").html(passhtm);
                var comlenght = $('#passlineInfo').children('p').length
                $(".js-feed-count").html(comlenght);

                if ($("#passlineInfo").html() == "") {
                    $(".feedback-item.js-myattend").hide()
                } else {
                    $(".feedback-item.js-myattend").show()
                }

                if ($("#declineInfo").html() == "") {
                    $(".feedback-item.decfeedback-item").hide()
                } else {
                    $(".feedback-item.decfeedback-item").show()
                }
            })
        }
    )

    function inviteCompanys() {
        var cid="";
        for(var i=1;i<=$(".meet-user-span span").length;i++){
            cid += $(".meet-user-span span:nth-child("+i+")").attr("id").replace('company','')+',';
        }
        if(cid=="")
            return;
       var cids =cid.substr(0,cid.length-1)
       var pid=@ViewBag.pid;
       var pname='@ViewBag.Name';
        $.post("/BidingApprove/InviteBiding", { cids:cids,pid:pid,pname:pname}, function () {
            swal("邀标短信已发送！")
        })
    }



    function declineApplication() {

        var feedback = $("#feedback-area").val()
        if (feedback == "") {
            swal({
                title: '必须填写意见！',
                text: '2秒后自动关闭。',
                timer: 2000
            })
        } else {

            swal({
                title: '确定驳回该申请？',
                text: '你将无法撤回！',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '确定驳回！'
            }).then(
        function (cc) {
            if (cc.dismiss != "cancel") {
                swal(
              '成功！',
              '您以驳回该申请。',
              'success'
                );
                $(".deal-apply-btn.deal-apply-btn2").hide();
                $(".right-block").hide();
                $(".bohui").hide();
                $.post("/Common/UpdateApproveProcess", { apid:3, oid: @ViewBag.pid, astatus: 3, comment: feedback }, function () {
                    window.history.go(-1);
                })
            }
        })
        }
    }

    function approveApplication() {
        var cid="";
        for(var i=1;i<=$(".meet-user-span span").length;i++){
            cid += $(".meet-user-span span:nth-child("+i+")").attr("id").replace('company','')+',';
        }
        if(cid=="")
            return;
       var cids =cid.substr(0,cid.length-1)
       var pid=@ViewBag.pid;
        $.post("/BidingApprove/CheckCompanyInvited", { cids: cids, pid: pid}, function (data) {
            if (data != "0") {
                swal({
                    title: '请先邀请竞标公司！',
                    text: '2秒后自动关闭。',
                    timer: 2000
                })
                return;
            }
        })
        
        var feedback = $("#feedback-area").val()
        swal({
            title: '确定通过该申请？',
            text: '你将无法撤回！',
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '确定通过！'
        }).then(
        function (cc) {
            if (cc.dismiss != "cancel") {
                swal(
              '通过！',
              '您以同意该申请。',
              'success'
                );
                $(".deal-apply-btn.deal-apply-btn2").hide();
                $(".right-block").hide();
                $(".apply-opt a.js-cancle-meet:nth-child(1)").hide();
                $.post("/Common/UpdateApproveProcess", { apid:3, oid: @ViewBag.pid, astatus: 2, comment: feedback }, function () {
                    window.history.go(-1);
                })
            }
        })
    }



</script>
<script>

    //分页点击
    var cur_num = 1
    var clickpagenum = "" //所点击页码
    //当前所在页码
    var nowpage = 1;
    var page_size = 10
    var pagenum = 12
    Paginator(nowpage, page_size)


    $(".search-btn").on("click", function () {

        Paginator(nowpage, page_size)

    })

    //下拉菜单
    $("#bType").change(function () {
        Paginator(nowpage, page_size)
    })
    $("#bTypeCompany").change(function () {
        Paginator(nowpage, page_size)
    })
    

    //所添加公司遍历
    function Paginator(page, ps) {
        var cname = $("#searchinput").val();
        if ($("#bType").val() == "") {
            var ctype = "";
        } else {
            var ctype = $("#bType").val();
        }
        if ($("#bTypeCompany").val() == "") {
            var inout = "";
        } else {
            var inout = $("#bTypeCompany").val();
        }


        $.post("/Common/GetCompanyCandidate",{ pagesize: ps, page: page, cname: cname, ctype: ctype, inout: inout }, function(data) {
            var jsonData = JSON.parse(data);
            var obj = jsonData.List;
            var comhtml=""
            for (var j = 0; j < obj.length; j++) {
                var o = obj[j];
                var imgjian="";
                if(o.type!=1){
                    imgjian='<img src="/img/con-tuijian.png">';
                }
                comhtml+='<tr class="white-bg">'+
                              '<td class="check-color">'+
                                 '<input class="icheck" name="addcompenycheck" type="checkbox" value="'+o.id+'|'+o.name+'" id="checkbox-1"/>'+
                              '</td>'+
                              '<td>'+
                    '<a href="list_business_details.html" class="comoname" style="display:block;line-height:18px;">' + o.name + imgjian+'</a>'+
                              '</td>'+
                              '<td>'+o.corporaterepresentative+'</td>'+
                              '<td>'+o.repphone+'</td>'+
                          '</tr>;'
                
            }
            $("#comhtm").html(comhtml)
            pages(page, jsonData.pagecount, jsonData.total, ps)

        })
       @* function a(str){
            str=str.replace(/&lt;/g,"<").replace(/&gt;/g,">");
            var str=str.replace(/br\/>/g,"\r\n");
            return str;
        }*@

    }

    $.post("/Common/GetCompanyType", {}, function (data) {
        var obj = JSON.parse(data);
        var btype = $("#bType");
        btype.append("<option value=''>业务类型</option>");
        for (var i = 0; i < obj.length; i++) {
            var o = obj[i]
            btype.append("<option value='" + o.id + "'>" + o.name + "</option>")
        }
    });

</script>