
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>劳务招标管理系统</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="~/cssMobile/light/light7.min.css">
    <link rel="stylesheet" href="~/cssMobile/phone.css" />
    <style>
        .bar-nav ~ .content {
            top: 5.3rem;
        }

        .sjdlb dl dt:nth-child(1) {
            width: 5.1rem;
            text-align:right
        }

        .sjdlb dl dd {
            margin-left: 5.4rem;
        }
        .list-block.cards-list.meetp-user-list {
            margin-bottom: 3rem;
        }
        .lw-zb li{
            margin-bottom:0px;
        }
        .bar.meetp-nav {
            height: auto;
        }

        .bar-nav ~ .content {
            top: 2rem;
        }
        .meetp-buttons-tab{
            top: 2rem;
        }
        .lw-zb li{
            font-size: 0.7rem;
        }
        .lw-zb li i{
            display:none;
        }
    </style>
</head>
<body>
    <div class="page-group">
        <div class="page page-current">
            <header class="bar bar-nav meetp-nav">
                <!--<div class="meetp-header">
                    <a href="#" onclick="logindex()"><img src="~/imgMobile/logo.png" /></a><span class="span1">@ViewBag.UserName</span>
                    <span class="span2">
                        <a href="#" onclick="logout()">
                            <img src="~/imgMobile/loginout-icon.png" alt="">
                        </a>
                    </span>
                </div>-->
                <div class="meetp-bar">
                    <a class="button button-link button-nav pull-left back" onclick="winHistory()" href="#">
                        <span class="icon icon-left"></span>
                    </a>
                    <h1 class="title">招标审核-招标详情</h1>
                </div>
            </header>
            <div class="content native-scroll" style="padding-bottom: 3rem;">
                <div class="buttons-tab meetp-buttons-tab">
                    <a href="#tab1" class="tab-link active button">基本信息</a>
                    <a href="#tab2" class="tab-link button">参标单位</a>
                    <a href="#tab3" class="tab-link button">审核意见</a>
                </div>
                <div class="content-block">
                    <div class="tabs">
                        <div id="tab1" class="tab active">
                            <div class="meetp-content-block">
                                <p></p>
                            </div>
                            <div class="list-block meetp-detail-list  meetp-content-block sjdlb" style="padding:0 0.25rem">

                                <dl>
                                    <dt>项目名称:</dt>
                                    <dd>@ViewBag.Name</dd>
                                </dl>
                                <dl>
                                    <dt>提交人:</dt>
                                    <dd>@ViewBag.Publisher</dd>
                                </dl>
                                <dl>
                                    <dt>项目地点:</dt>
                                    <dd>@ViewBag.Location</dd>
                                </dl>
                                <dl>
                                    <dt>招标内容介绍:</dt>
                                    <dd>@Html.Raw(ViewBag.ProjDescription)</dd>
                                </dl>
                                <dl>
                                    <dt>项目类型:</dt>
                                    <dd>@ViewBag.Type</dd>
                                </dl>
                                <dl>
                                    <dt>报名截止时间:</dt>
                                    <dd>@ViewBag.ApplyDate</dd>
                                </dl>
                                <dl>
                                    <dt>预计开标时间:</dt>
                                    <dd>@ViewBag.OpenDate</dd>
                                </dl>

                                <dl>
                                    <dt>拟中标单位数量:</dt>
                                    <dd>@ViewBag.BidingNum</dd>
                                </dl>
                                <dl>
                                    <dt>招标文件简述：</dt>
                                    <dd>@Html.Raw(ViewBag.Content)</dd>
                                </dl>
                                <dl>
                                    <dt>招标文档:</dt>
                                    <dd>
                                        <div style="display:inline-block;vertical-align: top;width:15px;vertical-align: top">
                                            <img src="/imgMobile/icon-file.png" alt="" style="vertical-align: middle">
                                        </div>
                                        <div style="display:inline-block">
                                            <ul id="bffiles"></ul>
                                        </div>
                                    </dd>
                                </dl>



                            </div>

                        </div>
                        <div id="tab2" class="tab">
                            <div class="list-block cards-list meetp-user-list">
                                <ul class="lw-zb">
                                    @*<li>上海思绕建设集团有限公司 <span class="tjqy">推荐企业</span></li>
                                      <li>上海思绕建设集团有限公司 <span class="mln">名录内</span></li>*@
                                    @Html.Raw(ViewBag.JoinCompanys)

                                </ul>
                            </div>
                        </div>
                        <div id="tab3" class="tab">
                            <div class="content-block">
                                <div class="meetp-advice-content meetp-advice-red">
                                    <div class="meetp-advice-title">
                                        <p>
                                            <span style="color: #008cd6">各部门反馈意见：</span><i class="icon feed-icon icon-bohui"></i>驳回理由
                                        </p>
                                    </div>
                                    <ul class="meetp-feedback-list meetp-feedback-red"></ul>
                                </div>
                                <div class="meetp-advice-content meetp-advice-green">
                                    <div class="meetp-advice-title">
                                        <p>
                                            <span style="color: #008cd6">各部门反馈意见：</span><i class="icon feed-icon icon-bhreason"></i>共<span class="js-feed-count"></span>条回复信息
                                        </p>
                                    </div>
                                    <ul class="meetp-feedback-list meetp-feedback-green"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row btn-row">
                    <div class="buttons-row col-80 meetp-buttons-row">
                        <a href="#" onclick="greenbtn()" class="button active">同意</a>
                        <a href="#" onclick="redbtn()" class="button active">驳回</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type='text/javascript' src='~/jsMobile/jquery-1.11.0.js' charset='utf-8'></script>
    <script type='text/javascript' src='~/jsMobile/light/light7.min.js' charset='utf-8'></script>
    <script type="text/javascript" src="~/jsMobile/js.js"></script>
    <script>
        $(function () {
            
            $(document).on('click', '.meetp-user-list .card .card-header', function () {
                $(this).siblings(".card-content").toggleClass("active");
                $(this).find(".icon").toggleClass("icon-right")
            });

        })
        function winHistory() {
            window.location.href = "/MobileList?type=2";
        }
        function greenbtn(){
            location.href = "/MobileBid/AuditAction?pid=@ViewBag.pid&type=1";

        }
        function redbtn(){
            location.href = "/MobileBid/AuditAction?pid=@ViewBag.pid&type=2";
        }

        //附件
        $.get("/Projects/GetFiles?pid=@ViewBag.pid&ftype=2", function (data) {
            var obj = JSON.parse(data);
            for (var i = 0; i < obj.length; i++) {
                var li = document.createElement('li');
                li.innerHTML = '<span style = "color:#3e3a39;margin-left: 5px;" >' + obj[i].FileName + '<a href = "' + obj[i].FilePath + '" style = "color:#008cd6;margin-left: 5px;" target="_blank">下载</a><span>'
                document.getElementById("bffiles").appendChild(li)
            }
        });
    </script>
    <script>
        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg); //获取url中"?"符后的字符串并正则匹配
            var context = "";
            if (r != null)
                context = r[2];
            reg = null;
            r = null;
            return context == null || context == "" || context == "undefined" ? "" : context;
        }


        //审核流程遍历
        $(function () {

            var status = getQueryString('status');
            if (status == "2" || status == "3") {
                $(".row.btn-row").hide();
            }
            $.get("/Common/GetApproveProcessingInfo", { oid:@ViewBag.pid, apid:3}, function (data) {
                var obj = JSON.parse(data);
                var cuid=@ViewBag.UserId;
                if (obj.length == 0)
                    return;
                var pdepart = obj[0].pname;
                var dechtm = "";
                var passhtm = "";
                var htm = '<h4 class="cp01"><span></span>' + pdepart + '</h4><ul>';//<li><span class="yj06">' + obj[0].name + '</span> <span class="yj02">' + obj[0].username + '</span> <span class="yj03">' + obj[0].dd +'</span> <span class="yj04">提交申请</span></li >';
                var hstyle = 'cp01'; //cp02
                var ulstyle = 'uc01'; //uc02
                for (var i = 0; i < obj.length; i++) {
                    var o = obj[i];


                    if(i==0){
                        htm+='<li class="li-blue2"><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span> <span class="yj03">' + o.dd + '</span> <span class="yj04">提交申请</span></div></li >'
                        continue;
                    }
                    if(o.uid==cuid){
                        $("#feedback-area").val(o.comment);
                    }
                    if (o.pname == pdepart) {
                        if (o.approved == 2) {
                            if (o.comment != "") {
                                passhtm += '<li>'+
                                        '<label class="item-content">'+
                                            '<div class="item-inner">'+
                                                '<div class="item-title-row">'+
                                                    '<div class="item-title">'+ o.name + ' ' + o.username + '<span class="gray-word">' + o.dd + '</span>'+
                                                    '</div>'+
                                                '</div>'+
                                                '<div class="item-text"> '+ o.comment + '</div>'+
                                            '</div>'+
                                        '</label>'+
                                    '</li>';
                            }
                            htm += '<li class="li-blue2"><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span> <span class="yj03">' + o.dd + '</span> <span class="yj04">同意</span></div></li >'
                        }
                        else if (o.approved == 3) {
                            dechtm = '<li>'+
                                '<label class="item-content">'+
                                    '<div class="item-inner">'+
                                        '<div class="item-title-row">'+
                                            '<div class="item-title">'+ o.name + ' ' + o.username + '<span class="gray-word">' + o.dd + '</span>'+
                                            '</div>'+
                                        '</div>'+
                                        '<div class="item-text"> '+ o.comment + '</div>'+
                                    '</div>'+
                                '</label>'+
                            '</li>';
                            hstyle = 'cp02'
                            ulstyle = 'uc02'
                            htm += '<li ><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span> <span class="yj03">' + o.dd + '</span> <span class="yj05">驳回</span></div></li >'
                        } else {
                            if (o.comment != "") {
                                dechtm += '<li>'+
                                '<label class="item-content">'+
                                    '<div class="item-inner">'+
                                        '<div class="item-title-row">'+
                                            '<div class="item-title">'+ o.name + ' ' + o.username + '<span class="gray-word">' + o.dd + '</span>'+
                                            '</div>'+
                                        '</div>'+
                                        '<div class="item-text"> '+ o.comment + '</div>'+
                                    '</div>'+
                                '</label>'+
                            '</li>';
                            }
                            hstyle = 'cp02'
                            ulstyle = 'uc02'
                            htm += '<li><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span></div></li >'
                        }
                    }
                    else {
                        htm += '</ul>';
                        pdepart = o.pname;
                        htm += '<h4 class="' + hstyle + '"><span></span>' + pdepart + '</h4>';
                        if (o.approved == 2) {
                            if (o.comment != "") {
                                passhtm += '<li>'+
                                        '<label class="item-content">'+
                                            '<div class="item-inner">'+
                                                '<div class="item-title-row">'+
                                                    '<div class="item-title">'+ o.name + ' ' + o.username + '<span class="gray-word">' + o.dd + '</span>'+
                                                    '</div>'+
                                                '</div>'+
                                                '<div class="item-text"> '+ o.comment + '</div>'+
                                            '</div>'+
                                        '</label>'+
                                    '</li>';
                            }
                            htm += '<ul class="' + ulstyle + '"><li class="li-blue2"><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span> <span class="yj03">' + o.dd + '</span> <span class="yj04">同意</span></div></li >'
                        }
                        else if (o.approved == 3) {
                            dechtm +='<li>'+
                                '<label class="item-content">'+
                                    '<div class="item-inner">'+
                                        '<div class="item-title-row">'+
                                            '<div class="item-title">'+ o.name + ' ' + o.username + '<span class="gray-word">' + o.dd + '</span>'+
                                            '</div>'+
                                        '</div>'+
                                        '<div class="item-text"> '+ o.comment + '</div>'+
                                    '</div>'+
                                '</label>'+
                            '</li>';
                            hstyle = 'cp02'
                            ulstyle = 'uc02'
                            htm += '<ul class="' + ulstyle + '"><li><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span> <span class="yj03">' + o.dd + '</span> <span class="yj05">驳回</span></div></li >'
                        } else {
                            if (o.comment != "") {
                                dechtm +='<li>'+
                                '<label class="item-content">'+
                                    '<div class="item-inner">'+
                                        '<div class="item-title-row">'+
                                            '<div class="item-title">'+ o.name + ' ' + o.username + '<span class="gray-word">' + o.dd + '</span>'+
                                            '</div>'+
                                        '</div>'+
                                        '<div class="item-text"> '+ o.comment + '</div>'+
                                    '</div>'+
                                '</label>'+
                            '</li>';
                            }
                            hstyle = 'cp02'
                            ulstyle = 'uc02'
                            htm += '<ul class="' + ulstyle + '"><li><div style="clear:both"><span class="yj06">' + o.name + '</span> <span class="yj02">' + o.username + '</span></div></li >'
                        }
                    }
                }
                htm += '</ul><h4 class="' + hstyle + '"><span></span>结束</h4>';

                $("#transferInfo").html(htm);
                $(".meetp-feedback-red").html(dechtm);
                $(".meetp-feedback-green").html(passhtm);
                var comlenght=$('.meetp-feedback-green').children('li').length
                $(".js-feed-count").html(comlenght);

                if($(".meetp-feedback-green").html()==""){
                    $(".meetp-advice-green").hide()
                }else{
                    $(".meetp-advice-green").show()
                }

                if($(".meetp-feedback-red").html()==""){
                    $(".meetp-advice-red").hide()
                }else{
                    $(".meetp-advice-red").show()
                }
            })
        })
        function logout() {
            if (confirm("要确定系统么？")) {
                window.location.href = "/MobileLogin";
            }
        }
        function logindex() {
         
            window.location.href = "/MobileMain";
        }
    </script>

</body>
</html>
